@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';
@import '@vtmn/css-design-tokens/src/shadows';
@import '@vtmn/css-design-tokens/src/animations';
@import '@vtmn/css-design-tokens/src/z-indexes';
@import '@vtmn/css-design-tokens/src/radius';

.vtmn-modal_background-overlay {
  background: hsl(
    var(--vtmn-semantic-color_background-primary-reversed--h)
      var(--vtmn-semantic-color_background-primary-reversed--s)
      var(--vtmn-semantic-color_background-primary-reversed--l) / 80%
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: calc(var(--vtmn-z-index_modal) - 1);
}

.vtmn-modal_content {
  background-color: var(--vtmn-semantic-color_background-primary);
  border-radius: var(--vtmn-radius_200);
  padding: rem(32px);
  font-family: var(--vtmn-typo_font-family);
  width: rem(600px);
  max-height: 90vh;
  height: fit-content;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: var(--vtmn-shadow_300);
  color: var(--vtmn-semantic-color_content-primary);
  z-index: var(--vtmn-z-index_modal);
  display: flex;
  flex-direction: column;
}

.vtmn-modal_content_title {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vtmn-modal_content_title--text {
  font-weight: var(--vtmn-typo_font-weight--bold);
  font-size: rem(26px);
  line-height: rem(32px);
}

.vtmn-modal_content_title .vtmn-btn {
  margin-inline-start: rem(12px);
  margin-top: -6px;
  margin-bottom: -6px;
}

.vtmn-modal_content_title .vtmn-btn span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_text-2-font-size);
}

.vtmn-modal_content_title > button:focus-visible {
  outline: none;
  box-shadow: var(--vtmn-shadow_focus-visible);
}

.vtmn-modal_content_body {
  margin: rem(16px) 0;
  overflow-y: auto;
}

.vtmn-modal_content_body--text {
  padding-bottom: rem(30px);
  font-weight: var(--vtmn-typo_font-weight--normal);
  font-size: var(--vtmn-typo_text-3-font-size);
  line-height: rem(24px);
  align-self: flex-start;
  text-align: left;
}

.vtmn-modal_content_actions {
  white-space: nowrap;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.vtmn-modal_content_actions > * {
  margin: 0 rem(12px);
}

@media screen and (max-width: 599px) {
  .vtmn-modal_content {
    width: 100%;
    padding: rem(24px);
    max-height: 60%;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: var(--vtmn-radius_200) var(--vtmn-radius_200) 0 0;
  }

  .vtmn-modal_content_actions {
    flex-direction: column;
  }

  .vtmn-modal_content_actions > * {
    margin: rem(6px) 0;
    width: 100%;
  }

  .vtmn-modal_content_body--overflow-indicator {
    bottom: 10rem;
    left: rem(24px);
    right: rem(24px);
    height: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .vtmn-modal_content {
    width: rem(900px);
  }
}
