@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';

.vtmn-list {
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--normal);
  font-size: var(--vtmn-typo_text-2-font-size);
  color: var(--vtmn-semantic-color_content-primary);
  background-color: var(--vtmn-semantic-color_background-primary);
}

.vtmn-list > ul {
  width: 100%;
  outline: 0;
}

.vtmn-list > ul:focus-visible {
  box-shadow: 0 0 0 rem(4px) var(--vtmn-semantic-color_border-primary-reversed),
    0 0 0 rem(6px) var(--vtmn-semantic-color_border-primary);
}

.vtmn-list li,
.vtmn-list_size--medium li {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px 11px;
  width: 100%;
  outline: 0;
  cursor: pointer;
}

.vtmn-list li:not(.vtmn-list--disabled):hover {
  background-color: var(--vtmn-semantic-color_hover-primary);
}

/* focus instead of active to display active state of buttons */
.vtmn-list li:not(.vtmn-list--disabled):focus {
  background-color: var(--vtmn-semantic-color_active-primary);
}

.vtmn-list li:not(.vtmn-list--disabled):focus-visible {
  box-shadow: 0 0 0 rem(4px) var(--vtmn-semantic-color_border-primary-reversed),
    0 0 0 rem(6px) var(--vtmn-semantic-color_border-primary);
}

.vtmn-list_item {
  display: flex;
  align-items: center;
}

.vtmn-list span[class^='vtmx-'],
.vtmn-list--medium span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-list_item span[class^='vtmx-'],
.vtmn-list_item img {
  margin-inline-end: var(--vtmn-spacing_3);
}

.vtmn-list_slot > .vtmn-btn--icon-alone {
  min-height: 36px;
  min-width: 36px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-list_slot > .vtmn-btn > span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-list_item_text {
  display: flex;
  flex-direction: column;
}

.vtmn-list_item_text > span:nth-child(2) {
  color: var(--vtmn-semantic-color_content-tertiary);
}

.vtmn-list_media--round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.vtmn-list_media--thumbnail {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.vtmn-list_media--image {
  max-width: 100px;
  aspect-ratio: 2 / 1;
  object-fit: cover;
}

.vtmn-list .vtmn-list--disabled {
  opacity: var(--vtmn-opacity_disabled-state);
  cursor: not-allowed;
}
