@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';

.vtmn-list {
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--normal);
  font-size: var(--vtmn-typo_text-2-font-size);
  color: var(--vtmn-semantic-color_content-primary);
  background-color: var(--vtmn-semantic-color_background-primary);
}

.vtmn-list > ul {
  width: 100%;
  outline: 0;
}

.vtmn-list > ul:focus-visible {
  box-shadow: 0 0 0 rem(4px) var(--vtmn-semantic-color_border-primary-reversed),
    0 0 0 rem(6px) var(--vtmn-semantic-color_border-primary);
}

.vtmn-list li {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(12px) rem(16px) rem(11px);
  width: 100%;
  outline: 0;
  cursor: pointer;
}

.vtmn-list li:not(.vtmn-list--disabled):hover {
  background-color: var(--vtmn-semantic-color_hover-primary);
}

/* focus instead of active to display active state of buttons */
.vtmn-list li:not(.vtmn-list--disabled):focus {
  background-color: var(--vtmn-semantic-color_active-primary);
}

.vtmn-list li:not(.vtmn-list--disabled):focus-visible {
  box-shadow: 0 0 0 rem(4px) var(--vtmn-semantic-color_border-primary-reversed),
    0 0 0 rem(6px) var(--vtmn-semantic-color_border-primary);
}

.vtmn-list_item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.vtmn-list span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-list_item span[class^='vtmx-'],
.vtmn-list_item img {
  margin-inline-end: var(--vtmn-spacing_3);
}

.vtmn-list_slot > .vtmn-btn--icon-alone {
  min-height: rem(36px);
  min-width: rem(36px);
  height: rem(36px);
  width: rem(36px);
  border-radius: 50%;
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-list_slot > .vtmn-btn--icon-alone > span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-list_item_text {
  display: flex;
  flex-direction: column;
}

.vtmn-list_item_text > span:nth-child(2) {
  color: var(--vtmn-semantic-color_content-tertiary);
}

.vtmn-list_media--round {
  width: rem(40px);
  height: rem(40px);
  border-radius: 50%;
}

.vtmn-list_media--thumbnail {
  width: rem(40px);
  height: rem(40px);
  object-fit: contain;
}

.vtmn-list_media--image {
  max-width: rem(100px);
  aspect-ratio: 2 / 1;
  object-fit: cover;
}

.vtmn-list .vtmn-list--disabled {
  opacity: var(--vtmn-opacity_disabled-state);
  cursor: not-allowed;
}

/* SIZES */

/* Small */
.vtmn-list_size--small {
  font-size: var(--vtmn-typo_text-3-font-size);
}

.vtmn-list_size--small li {
  padding: rem(6px) rem(8px) rem(5px) rem(16px);
}

.vtmn-list_size--small span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_text-2-font-size);
}

.vtmn-list_size--small .vtmn-btn--icon-alone > span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_text-2-font-size);
}

.vtmn-list_size--small .vtmn-list_slot > .vtmn-btn--icon-alone {
  min-height: rem(24px);
  min-width: rem(24px);
  height: rem(24px);
  width: rem(24px);
}

/* Medium (default) */
.vtmn-list_size--medium {
  font-size: var(--vtmn-typo_text-2-font-size);
}

.vtmn-list_size--medium li {
  padding: rem(12px) rem(16px) rem(11px);
}

.vtmn-list_size--medium span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-list_size--medium .vtmn-btn--icon-alone > span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-list_size--medium .vtmn-list_slot > .vtmn-btn--icon-alone {
  min-height: rem(36px);
  min-width: rem(36px);
  height: rem(36px);
  width: rem(36px);
}
