/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';

/* Interactive Rating **/

.vtmn-rating {
  color: var(--vtmn-color_black);
}

.vtmn-rating fieldset {
  border: none;
  float: left;
}

.vtmn-rating--interactive {
  color: var(--vtmn-color_brand-digital);
}

.vtmn-rating--interactive > input {
  display: none;
}

.vtmn-rating--interactive > label {
  float: right;
  cursor: pointer;
}

.vtmn-rating--interactive > label::before {
  margin: 0 rem(5px);
  font-size: var(--vtmn-typo_text-2-font-size);
  font-family: vitamix, var(--vtmn-typo_font-family);
  display: inline-block;
  content: '\f220';
}

.vtmn-rating--interactive > .half::before {
  content: '\f21f';
  color: transparent;
  position: absolute;
}

/***** Highlight Stars on Hover *****/

.vtmn-rating--interactive > input:checked ~ .full::before, /* show gold star when clicked on full */
.vtmn-rating--interactive:not(:checked) > .full:hover::before, /* hover current full star */
.vtmn-rating--interactive:not(:checked) > label:hover ~ label::before {
  /* hover previous stars in list */
  content: '\f21d';
}

.vtmn-rating--interactive > input:checked ~ .half::before, /* show gold star when clicked on half */
.vtmn-rating--interactive:not(:checked) > .half:hover::before {
  color: var(--vtmn-color_brand-digital);

  /* hover current half star */
}

/* Highlight previous stars when already selected stars 

.vtmn-rating--interactive > input:checked + label:hover::before, 
.vtmn-rating--interactive > input:checked ~ label:hover::before,
.vtmn-rating--interactive > label:hover::before ~ input:checked ~ label::before, 
.vtmn-rating--interactive > input:checked ~ label:hover::before ~ label::before {
  color: red;
  content: '\f21d';
}
*/

.vtmn-rating_note,
.vtmn-rating_comment {
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-2-font-size);
  color: var(--vtmn-color_black);
  font-weight: var(--vtmn-typo_font-weight--bold);
}

.vtmn-rating_comment--secondary {
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-2-font-size);
  color: var(--vtmn-color_grey);
}

.vtmn-rating span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_text-2-font-size);
  vertical-align: middle;
}

/* Color variants */

.vtmn-rating_color--brand {
  color: var(--vtmn-color_brand-digital);
}

.vtmn-rating_color--black {
  color: var(--vtmn-color_black);
}

/* Size variants */

.vtmn-rating_size--small {
  font-size: var(--vtmn-typo_text-3-font-size);
}

.vtmn-rating_size--small span {
  font-size: var(--vtmn-typo_text-3-font-size);
}

.vtmn-rating_size--small span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_text-2-font-size);
}

.vtmn-rating_size--medium {
  font-size: var(--vtmn-typo_text-1-font-size);
}

.vtmn-rating_size--medium span {
  font-size: var(--vtmn-typo_text-1-font-size);
}

.vtmn-rating_size--medium span[class^='vtmx-'] {
  font-size: rem(32px);
}
