/* Colors variables */
:root {
  --vtmn-color_black: #001018;
  --vtmn-color_brand-digital: #007dbc;
  --vtmn-color_brand-digital-dark-1: #00689d;
  --vtmn-color_brand-digital-dark-2: #00537d;
  --vtmn-color_brand-digital-light-1: #7ebee0;
  --vtmn-color_brand-digital-light-2: #bedeef;
  --vtmn-color_brand-digital-light-3: #e7f3f9;
  --vtmn-color_green: #02be8a;
  --vtmn-color_green-dark-1: #029e73;
  --vtmn-color_green-dark-2: #017f5c;
  --vtmn-color_green-light-1: #7cdfc4;
  --vtmn-color_green-light-2: #beefe2;
  --vtmn-color_green-light-3: #e4f9f3;
  --vtmn-color_grey: #687787;
  --vtmn-color_grey-dark-1: #4e5d6b;
  --vtmn-color_grey-dark-2: #344450;
  --vtmn-color_grey-dark-3: #1a2a34;
  --vtmn-color_grey-light-1: #b3bac3;
  --vtmn-color_grey-light-2: #d9dde1;
  --vtmn-color_grey-light-3: #eff1f3;
  --vtmn-color_grey-light-4: #f7f8f9;
  --vtmn-color_orange: #fe5800;
  --vtmn-color_orange-light-1: #feab7b;
  --vtmn-color_orange-light-2: #fed5bd;
  --vtmn-color_red: #ee000c;
  --vtmn-color_red-light-1: #ed8b8f;
  --vtmn-color_red-light-2: #f5c7c9;
  --vtmn-color_white: #ffffff;
  --vtmn-color_yellow: #ffea28;
  --vtmn-color_yellow-light-1: #fff58d;
  --vtmn-color_yellow-light-2: #fffbc7;
  --vtmn-color_success: #23a942;
  --vtmn-color_info: #007dbc;
  --vtmn-color_warning: #ff600a;
  --vtmn-color_danger: #e32c26;
}

/* Typography variables */
:root {
  --vtmn-typo_font-family: 'Roboto';
  --vtmn-typo_font-family--condensed: 'Roboto Condensed';
  --vtmn-typo_font-weight--regular: 400;
  --vtmn-typo_font-weight--bold: 700;

  --vtmn-typo_display-1-font-size: 60px;
  --vtmn-typo_display-1-line-height: 48px;

  --vtmn-typo_display-2-font-size: 32px;
  --vtmn-typo_display-2-line-height: 30px;

  --vtmn-typo_title-1-font-size: 40px;
  --vtmn-typo_title-1-line-height: 42px;

  --vtmn-typo_title-2-font-size: 36px;
  --vtmn-typo_title-2-line-height: 40px;

  --vtmn-typo_title-3-font-size: 28px;
  --vtmn-typo_title-3-line-height: 27px;

  --vtmn-typo_title-4-font-size: 24px;
  --vtmn-typo_title-4-line-height: 28px;

  --vtmn-typo_title-5-font-size: 20px;
  --vtmn-typo_title-5-line-height: 24px;

  --vtmn-typo_text-1-font-size: 18px;
  --vtmn-typo_text-1-line-height: 26px;

  --vtmn-typo_text-2-font-size: 16px;
  --vtmn-typo_text-2-line-height: 24px;

  --vtmn-typo_text-3-font-size: 14px;
  --vtmn-typo_text-3-line-height: 22px;
}

@screen tablet {
  :root {
    --vtmn-typo_display-1-font-size: 76px;
    --vtmn-typo_display-1-line-height: 60px;

    --vtmn-typo_display-2-font-size: 48px;
    --vtmn-typo_display-2-line-height: 44px;

    --vtmn-typo_title-1-font-size: 44px;
    --vtmn-typo_title-1-line-height: 48px;

    --vtmn-typo_title-2-font-size: 38px;
    --vtmn-typo_title-2-line-height: 42px;

    --vtmn-typo_title-3-font-size: 30px;
    --vtmn-typo_title-3-line-height: 34px;

    --vtmn-typo_title-4-font-size: 24px;
    --vtmn-typo_title-4-line-height: 28px;

    --vtmn-typo_title-5-font-size: 20px;
    --vtmn-typo_title-5-line-height: 24px;
  }
}

@screen small-desktop {
  :root {
    --vtmn-typo_display-1-font-size: 76px;
    --vtmn-typo_display-1-line-height: 60px;

    --vtmn-typo_display-2-font-size: 48px;
    --vtmn-typo_display-2-line-height: 44px;

    --vtmn-typo_title-1-font-size: 44px;
    --vtmn-typo_title-1-line-height: 48px;

    --vtmn-typo_title-2-font-size: 38px;
    --vtmn-typo_title-2-line-height: 42px;

    --vtmn-typo_title-3-font-size: 30px;
    --vtmn-typo_title-3-line-height: 34px;

    --vtmn-typo_title-4-font-size: 24px;
    --vtmn-typo_title-4-line-height: 28px;

    --vtmn-typo_title-5-font-size: 20px;
    --vtmn-typo_title-5-line-height: 24px;
  }
}

@screen medium-desktop {
  :root {
    --vtmn-typo_display-1-font-size: 96px;
    --vtmn-typo_display-1-line-height: 76px;

    --vtmn-typo_display-2-font-size: 60px;
    --vtmn-typo_display-2-line-height: 56px;

    --vtmn-typo_title-1-font-size: 48px;
    --vtmn-typo_title-1-line-height: 50px;

    --vtmn-typo_title-2-font-size: 40px;
    --vtmn-typo_title-2-line-height: 42px;

    --vtmn-typo_title-3-font-size: 32px;
    --vtmn-typo_title-3-line-height: 42px;

    --vtmn-typo_title-4-font-size: 26px;
    --vtmn-typo_title-4-line-height: 32px;

    --vtmn-typo_title-5-font-size: 20px;
    --vtmn-typo_title-5-line-height: 24px;
  }
}

@screen large-desktop {
  :root {
    --vtmn-typo_display-1-font-size: 96px;
    --vtmn-typo_display-1-line-height: 76px;

    --vtmn-typo_display-2-font-size: 60px;
    --vtmn-typo_display-2-line-height: 56px;

    --vtmn-typo_title-1-font-size: 48px;
    --vtmn-typo_title-1-line-height: 50px;

    --vtmn-typo_title-2-font-size: 40px;
    --vtmn-typo_title-2-line-height: 42px;

    --vtmn-typo_title-3-font-size: 32px;
    --vtmn-typo_title-3-line-height: 42px;

    --vtmn-typo_title-4-font-size: 26px;
    --vtmn-typo_title-4-line-height: 32px;

    --vtmn-typo_title-5-font-size: 20px;
    --vtmn-typo_title-5-line-height: 24px;
  }
}
