/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';

input.vtmn-text-input,
input.vtmn-text-input::before,
input.vtmn-text-input::after {
  box-sizing: border-box;
}

input.vtmn-text-input {
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-color_grey-light-1);
  background-color: var(--vtmn-color_white);
  border-radius: rem(4px);
  display: block;
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--regular);
  font-size: rem(16px);
  line-height: 1;
  margin-bottom: rem(4px);
  margin-top: rem(8px);
  padding: rem(12px);
  color: var(--vtmn-color_black);
}

textarea.vtmn-text-input {
  min-height: rem(40px);
}

input.vtmn-text-input:not([disabled]):hover {
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-color_brand-digital);
}

input.vtmn-text-input:not([disabled]):focus,
input.vtmn-text-input:not([disabled]):active {
  outline: none;
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-color_brand-digital-light-1);
}

input.vtmn-text-input::placeholder {
  color: var(--vtmn-color_grey);
}

input.vtmn-text-input[disabled] {
  cursor: not-allowed;
  background-color: var(--vtmn-color_grey-light-3);
  border-color: var(--vtmn-color_grey-light-1);
  color: var(--vtmn-color_grey-light-1);
}

input.vtmn-text-input[disabled]::placeholder {
  color: var(--vtmn-color_grey-light-1);
}

input.vtmn-text-input_label {
  color: var(--vtmn-color_black);
  font-size: rem(16px);
  line-height: 1;
}

input.vtmn-text-input_helper-text {
  color: var(--vtmn-color_grey);
  font-size: rem(14px);
  line-height: 1;
}

input.vtmn-text-input--valid {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-color_success);
}

input.vtmn-text-input--error {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-color_danger);
}
