/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';

@layer components {
  .vtmn-text-input,
  .vtmn-text-input::before,
  .vtmn-text-input::after {
    box-sizing: border-box;
  }

  .vtmn-text-input {
    box-shadow: inset 0 0 0 1px var(--vtmn-color_grey-dark-3);

    @apply vtmn-block
      vtmn-font-normal
      vtmn-text-base
      vtmn-text-black
      vtmn-p-3
      vtmn-mt-2
      vtmn-mb-1
      vtmn-leading-none
      vtmn-bg-white
      vtmn-rounded;
  }

  .vtmn-text-input:not([disabled]):hover {
    box-shadow: inset 0 0 0 1px var(--vtmn-color_brand-digital);
  }

  .vtmn-text-input:not([disabled]):focus,
  .vtmn-text-input:not([disabled]):active {
    outline: none;
    box-shadow: inset 0 0 0 0.125rem var(--vtmn-color_brand-digital-light-1);
  }

  .vtmn-text-input::placeholder {
    @apply vtmn-text-grey;
  }

  .vtmn-text-input[disabled] {
    cursor: not-allowed;

    @apply vtmn-border-grey-light-1
      vtmn-bg-grey-light-3
      vtmn-text-grey-light-1;
  }

  .vtmn-text-input[disabled]::placeholder {
    @apply vtmn-text-grey-light-1;
  }

  .vtmn-text-input_label {
    @apply vtmn-text-black vtmn-text-base;
  }

  .vtmn-text-input_helper-text {
    @apply vtmn-text-grey vtmn-text-sm;
  }

  .vtmn-text-input--valid {
    box-shadow: inset 0 0 0 0.125rem var(--vtmn-color_success);
  }

  .vtmn-text-input--error {
    box-shadow: inset 0 0 0 0.125rem var(--vtmn-color_danger);
  }
}
