@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';

.vtmn-tabs {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  background-color: var(--vtmn-semantic-color_background-primary);
  border-bottom: 1px solid var(--vtmn-semantic-color_border-secondary);
}
