/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';

body {
    font-family: var(--vtmn-typo_font-family);
  }
  
  p {
    margin: 8px 0;
  }
  
  [type="radio"] {
    left: 0;
    opacity: 0.01;
  }
  
  [type="radio"] + label {
    position: relative;
    font-size: var(--vtmn-typo_text-2-font-size);
    line-height: var(--vtmn-typo_text-2-line-height);
    cursor: pointer;
    user-select: none;
    left: -24px;
    padding: 8px 8px 8px 28px;
  }
  
  [type="radio"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-radius: 150px;
    transition: all 0.275s;
  }
  
  [type="radio"]:not(:checked) + label::before {
    border-color: var(--vtmn-color_grey-light-1);
  }
  
  [type="radio"]:not(:checked):not(:disabled):hover + label::before {
    box-shadow: 0 0 0 7px rgba(0, 16, 24, 0.05);
  }
  
  [type="radio"]:not(:checked):not(:disabled):active + label::before {
    box-shadow: 0 0 0 7px rgba(0, 16, 24, 0.15);
  }
  
  [type="radio"]:checked:not(:disabled):hover + label::before {
    box-shadow: 0 0 0 7px rgba(0, 125, 188, 0.05);
  }
  
  [type="radio"]:checked:not(:disabled):active + label::before {
    box-shadow: 0 0 0 7px rgba(0, 125, 188, 0.15);
  }
  
  [type="radio"] + label::after {
    content: url("data:image/svg+xml;charset=utf-8, <svg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M10 20C4.477 20 0 15.523 0 10C0 4.477 4.477 0 10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20ZM10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM5 10C5 12.7614 7.23858 15 10 15C12.7614 15 15 12.7614 15 10C15 7.23858 12.7614 5 10 5C7.23858 5 5 7.23858 5 10Z' fill='rgba(0, 125, 188, 1)'/></svg>");
    position: absolute;
    top: 6px;
    left: 0;
    transition: all 0.2s;
    color: var(--vtmn-color_brand-digital);
  }
  
  [type="radio"]:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0) rotate(45deg);
  }
  
  [type="radio"]:checked + label::after {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  
  [type="radio"]:disabled + label {
    opacity: 0.38;
    cursor: not-allowed;
  }
  
  [type="radio"]:focus-visible + label::before {
    box-shadow: 0 0 0 4px var(--vtmn-color_brand-digital-light-1);
  }
  
