@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';
@import '@vtmn/css-design-tokens/src/shadows';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/transitions';

.vtmn-list {
  display: block;
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--normal);
  font-size: var(--vtmn-typo_text-2-font-size);
  color: var(--vtmn-semantic-color_content-primary);
  background-color: var(--vtmn-semantic-color_background-primary);
  width: 100%;
  outline: 0;
  padding: 0;
}

.vtmn-list li {
  height: fit-content;
  min-height: fit-content;
  display: flex;
  width: 100%;
  outline: 0;
  cursor: pointer;
  transition: var(--vtmn-transition_focus-visible);
}

.vtmn-list li:not([aria-disabled='true']):hover {
  background-color: var(--vtmn-semantic-color_hover-primary);
}

.vtmn-list li:not([aria-disabled='true']):active {
  background-color: var(--vtmn-semantic-color_active-primary);
}

.vtmn-list li:not([aria-disabled='true']):focus-visible {
  box-shadow: var(--vtmn-shadow_focus-visible);
}

.vtmn-list li[aria-disabled='true'] {
  opacity: var(--vtmn-opacity_disabled-state);
  cursor: not-allowed;
}

.vtmn-list li[aria-disabled='true'] *:disabled {
  opacity: 1;
}

.vtmn-list_start-visual {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(12px) 0;
  margin-inline-start: var(--vtmn-spacing_3);
}

.vtmn-list_start-visual span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-list_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: rem(1px) solid var(--vtmn-semantic-color_border-secondary);
  white-space: nowrap;
  padding: rem(12px) rem(20px);
  line-height: var(--vtmn-typo_text-2-line-height);
}

.vtmn-list_text > span:nth-child(2) {
  color: var(--vtmn-semantic-color_content-tertiary);
}

.vtmn-list_end-action {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: rem(1px) solid var(--vtmn-semantic-color_border-secondary);
  padding: rem(12px) rem(16px);
}

.vtmn-list_item--without-divider > .vtmn-list_end-action,
.vtmn-list_item--without-divider > .vtmn-list_text {
  border-bottom: 0;
}

.vtmn-list_end-action > .vtmn-btn--icon-alone {
  min-height: rem(36px);
  min-width: rem(36px);
  height: rem(36px);
  width: rem(36px);
  border-radius: 50%;
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-list_end-action > .vtmn-btn--icon-alone > span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-list_media--circle {
  min-width: rem(40px);
  width: rem(40px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.vtmn-list_media--square {
  min-width: rem(56px);
  width: rem(56px);
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.vtmn-list_media--rectangle {
  min-width: rem(112px);
  width: rem(112px);
  aspect-ratio: 2 / 1;
  object-fit: cover;
}

/* SIZES */

/* Small */
.vtmn-list .vtmn-list_item-size--small {
  font-size: var(--vtmn-typo_text-3-font-size);
  min-height: rem(32px);
}

.vtmn-list .vtmn-list_item-size--small .vtmn-list_text {
  padding: rem(12px) rem(20px);
  line-height: var(--vtmn-typo_text-3-line-height);
}

.vtmn-list_item-size--small .vtmn-list_start-visual span[class^='vtmx-'],
.vtmn-list_item-size--small
  .vtmn-list_end-action
  .vtmn-btn--icon-alone
  > span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_text-2-font-size);
}

.vtmn-list_item-size--small .vtmn-list_end-action > .vtmn-btn--icon-alone {
  min-height: rem(24px);
  min-width: rem(24px);
  height: rem(24px);
  width: rem(24px);
}

/* Medium */
.vtmn-list .vtmn-list_item-size--medium {
  font-size: var(--vtmn-typo_text-2-font-size);
  min-height: rem(48px);
}

.vtmn-list .vtmn-list_item-size--medium .vtmn-list_text {
  padding: rem(12px) 0;
  line-height: var(--vtmn-typo_text-2-line-height);
}

.vtmn-list_item-size--medium .vtmn-list_start-visual span[class^='vtmx-'],
.vtmn-list_item-size--medium
  .vtmn-list_end-action
  .vtmn-btn--icon-alone
  > span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-list_item-size--medium .vtmn-list_end-action > .vtmn-btn--icon-alone {
  min-height: rem(36px);
  min-width: rem(36px);
  height: rem(36px);
  width: rem(36px);
}
