@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/radius';

.vtmn-price {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: rem(28px);
  height: rem(28px);
  width: fit-content;
  padding: rem(2px) var(--vtmn-spacing_2);
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-2-font-size);
  font-weight: var(--vtmn-typo_font-weight--bold);
  color: var(--vtmn-semantic-color_content-primary);
  background-color: transparent;
  text-align: center;
  border-radius: var(--vtmn-radius_100);
}

/* VARIANTS */
.vtmn-price_variant--default {
  background-color: transparent;
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-price_variant--accent {
  background-color: var(--vtmn-semantic-color_background-accent);
  color: var(--vtmn-semantic-color_content-accent);
}

.vtmn-price_variant--alert {
  background-color: var(--vtmn-semantic-color_background-alert);
  color: var(--vtmn-semantic-color_content-primary-reversed);
}

.vtmn-price_variant--strikethrough {
  background-color: transparent;
  color: var(--vtmn-semantic-color_content-tertiary);
  text-decoration: line-through;
}

/* SIZES */

/* Small */
.vtmn-price_size--small {
  min-height: rem(24px);
  height: rem(24px);
  font-size: var(--vtmn-typo_text-3-font-size);
}

/* Medium */
.vtmn-price_size--medium {
  min-height: rem(28px);
  height: rem(28px);
  font-size: var(--vtmn-typo_text-2-font-size);
}

/* Large */
.vtmn-price_size--large {
  min-height: rem(32px);
  height: rem(32px);
  font-size: var(--vtmn-typo_text-1-font-size);
}
