@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';
@import '@vtmn/css-design-tokens/src/shadows';
@import '@vtmn/css-design-tokens/src/radius';

.vtmn-card {
  max-width: 100%;
  min-width: min-content;
  border-radius: var(--vtmn-radius_200);
  box-shadow: var(--vtmn-shadow_100);
  position: relative;
  font: var(--vtmn-typo_font-family) var(--vtmn-typo_font-weight--normal);
}

.vtmn-card_content {
  margin: 16px;
  display: flex;
  flex-direction: column;
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-card_content
  > *:not(.vtmn-card_content--title, .vtmn-card_content--body) {
  margin-top: 12px;
}

.vtmn-card_content--title,
.vtmn-card_variant--side-image .vtmn-card_content_body--title {
  font-size: var(--vtmn-typo_title-5-font-size);
  font-weight: var(--vtmn-typo_font-weight--bold);
  min-width: max-content;
}

.vtmn-card_content--body,
.vtmn-card_variant--side-image .vtmn-card_content_body--text {
  font-size: var(--vtmn-typo_text-3-font-size);
}

.vtmn-card,
.vtmn-card_variant--top-image {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: var(--vtmn-semantic-color_background-primary);
}

.vtmn-card > .vtmn-card_image,
.vtmn-card_variant--top-image > .vtmn-card_image {
  width: fit-content;
  height: 100%;
  margin: 16px;
}

.vtmn-card > .vtmn-card_image--full,
.vtmn-card_variant--top-image > .vtmn-card_image--full {
  width: fit-content;
  height: 100%;
  margin: 0;
}

.vtmn-card > .vtmn-card_image--full > img,
.vtmn-card_variant--top-image > .vtmn-card_image--full > img {
  border-radius: var(--vtmn-radius_200) var(--vtmn-radius_200) 0 0;
}

.vtmn-card img,
.vtmn-card_variant--top-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.vtmn-card_image--full > img {
  aspect-ratio: auto;
}

.vtmn-card_variant--side-image {
  display: flex;
  height: min-content;
  flex-direction: column;
  background-color: var(--vtmn-semantic-color_background-primary);
}

.vtmn-card_variant--side-image .vtmn-card_content {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.vtmn-card_variant--side-image .vtmn-card_icons {
  display: flex;
  margin: rem(16px) rem(16px) rem(6px) auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: rem(4px);
}

.vtmn-card_variant--side-image .vtmn-card_icons .vtmn-btn {
  width: rem(32px);
}

.vtmn-card_variant--side-image .vtmn-card_icons .vtmn-btn span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-card_variant--side-image .vtmn-card_content_body {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 0;
  padding: 0 rem(16px) rem(16px) 0;
}

.vtmn-card_variant--side-image .vtmn-card_content_image {
  flex-grow: 1;
  align-self: center;
  height: max-content;
  margin: 0 rem(16px) rem(16px) rem(16px);
}

.vtmn-card_variant--side-image .vtmn-card_content_image img {
  height: 100%;
}

.vtmn-card_variant--side-image .vtmn-btn {
  width: fit-content;
}

.vtmn-card_variant--full-image .vtmn-card_image {
  width: 100%;
  height: 100%;
  margin: 0;
}

.vtmn-card_variant--full-image img {
  height: 100%;
  border-radius: var(--vtmn-radius_200);
}

.vtmn-card_variant--full-image > .vtmn-card_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  height: auto;
  border-radius: var(--vtmn-radius_200);
  color: var(--vtmn-semantic-color_content-primary-reversed);
}

.vtmn-card_variant--full-image
  > .vtmn-card_content:not(.vtmn-card_content--opaque) {
  background: linear-gradient(
    180deg,
    color-mod(var(--vtmn-semantic-color_background-primary-reversed) alpha(0%))
      20%,
    var(--vtmn-semantic-color_background-primary-reversed) 100%
  );
}

.vtmn-card_variant--full-image > .vtmn-card_content.vtmn-card_content--opaque {
  background-color: hsl(
    var(--vtmn-semantic-color_background-primary-reversed--h)
      var(--vtmn-semantic-color_background-primary-reversed--s)
      var(--vtmn-semantic-color_background-primary-reversed--l) / 60%
  );
}
