@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';

.vtmn-chip {
  height: 40px;
  width: fit-content;
  box-shadow: inset 0 0 0 1px var(--vtmn-semantic-color_border-secondary);
  border-radius: 30px;
  background-color: var(--vtmn-semantic-color_background-primary);
  position: relative;
}
