@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';
@import '@vtmn/css-design-tokens/src/transitions';
@import '@vtmn/css-design-tokens/src/radius';

.vtmn-select_label,
.vtmn-select_container,
.vtmn-select_helper-text {
  font-family: var(--vtmn-typo_font-family);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-select_label {
  margin-block-end: rem(4px);
  display: block;
}

.vtmn-select:disabled,
.vtmn-select_label--disabled,
.vtmn-select_helper-text--disabled {
  opacity: var(--vtmn-opacity_disabled-state);
}

.vtmn-select_container {
  position: relative;
}

.vtmn-select_container::before {
  content: '';
  mask: url("data:image/svg+xml;charset=utf-8, <svg width='24' height='24' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='m8 8.781 3.3-3.3.943.943L8 10.667 3.757 6.424l.943-.943 3.3 3.3z'/></svg>");
  width: rem(24px);
  height: rem(24px);
  pointer-events: none;
  background-color: var(--vtmn-semantic-color_content-primary);
  position: absolute;
  right: rem(12px);
  top: rem(12px);
}

.vtmn-select {
  appearance: none;
  padding: rem(12px) rem(40px) rem(12px) rem(12px);
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-semantic-color_border-inactive);
  border-radius: var(--vtmn-radius_100);
  height: rem(48px);
  background-color: var(--vtmn-semantic-color_background-primary);
  cursor: pointer;
  border-style: none;
  transition: var(--vtmn-transition_focus-visible);
}

.vtmn-select:not(:disabled):not(:focus):hover {
  box-shadow: inset 0 0 0 1px var(--vtmn-semantic-color_border-inactive),
    0 0 0 3px var(--vtmn-semantic-color_hover-primary);
}

.vtmn-select:not(:disabled):focus,
.vtmn-select:not(:disabled):focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-active);
}

.vtmn-select:disabled {
  cursor: not-allowed;
}

.vtmn-select--valid {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-positive);
}

.vtmn-select--error {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-negative);
}

.vtmn-select_helper-text {
  color: var(--vtmn-semantic-color_content-secondary);
  font-size: rem(14px);
  line-height: calc(20 / 14);
  margin-block-start: rem(4px);
  display: flex;
}

.vtmn-select_helper-text--error {
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-select_helper-text--error::before {
  content: '';
  mask: url("data:image/svg+xml;charset=utf-8, <svg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M1.333 8a6.667 6.667 0 1 0 13.333 0A6.667 6.667 0 0 0 1.333 8zm12 0A5.333 5.333 0 1 1 2.667 8a5.333 5.333 0 0 1 10.666 0zm-4.666 2v1.333H7.333V10h1.334zm0-1.333v-4H7.333v4h1.334z'/></svg>");
  mask-size: cover;
  display: inline-block;
  background-color: var(--vtmn-semantic-color_content-negative);
  height: rem(14px);
  min-width: rem(14px);
  margin-block-start: rem(3px);
  margin-inline-end: rem(5px);
}
