@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';
@import '@vtmn/css-design-tokens/src/transitions';
@import '@vtmn/css-design-tokens/src/radius';

.vtmn-text-input_label,
.vtmn-text-input,
.vtmn-text-input_helper-text {
  font-family: var(--vtmn-typo_font-family);
}

.vtmn-text-input,
.vtmn-text-input::before,
.vtmn-text-input::after {
  box-sizing: border-box;
}

.vtmn-text-input {
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-semantic-color_border-inactive);
  border: none;
  background-color: var(--vtmn-semantic-color_background-primary);
  border-radius: var(--vtmn-radius_100);
  display: block;
  font-weight: var(--vtmn-typo_font-weight--normal);
  font-size: var(--vtmn-typo_text-2-font-size);
  line-height: 1;
  padding: rem(12px) rem(36px) rem(12px) rem(12px);
  color: var(--vtmn-semantic-color_content-primary);
  min-height: rem(48px);
  appearance: none;
  transition: var(--vtmn-transition_focus-visible);
}

textarea.vtmn-text-input {
  min-width: rem(48px);
  resize: both;
}

.vtmn-text-input:not(:disabled):not(:focus):not(textarea):hover {
  box-shadow: inset 0 0 0 1px var(--vtmn-semantic-color_border-inactive),
    0 0 0 3px var(--vtmn-semantic-color_hover-primary);
}

.vtmn-text-input:not(:disabled):focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-active);
}

.vtmn-text-input:not(:disabled):focus {
  outline: none;
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-active);
}

.vtmn-text-input::placeholder {
  color: var(--vtmn-semantic-color_content-tertiary);
}

.vtmn-text-input_label {
  color: var(--vtmn-semantic-color_content-primary);
  font-size: var(--vtmn-typo_text-2-font-size);
  line-height: var(--vtmn-typo_text-2-line-height);
  margin-block-end: rem(4px);
  display: block;
  width: fit-content;
}

.vtmn-text-input_container {
  position: relative;
  display: inline-block;
}

.vtmn-text-input + span[class^='vtmx-'],
.vtmn-text-input + svg {
  position: absolute;
  font-size: var(--vtmn-typo_title-5-font-size);
  right: rem(11px);
  bottom: rem(15px);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-text-input:disabled,
.vtmn-text-input:disabled + span[class^='vtmx-'],
.vtmn-text-input:disabled + svg,
.vtmn-text-input:disabled + .vtmn-text-input_helper-text {
  opacity: var(--vtmn-opacity_disabled-state);
  cursor: not-allowed;
}

.vtmn-text-input_helper-text {
  color: var(--vtmn-semantic-color_content-secondary);
  font-size: var(--vtmn-typo_text-3-font-size);
  line-height: var(--vtmn-typo_text-3-line-height);
  margin-block-start: rem(4px);
  width: fit-content;
}

.vtmn-text-input_helper-text--error {
  color: var(--vtmn-semantic-color_content-primary);
  width: fit-content;
}

.vtmn-text-input_helper-text--error::before {
  content: '';
  mask: url("data:image/svg+xml;charset=utf-8, <svg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M1.333 8a6.667 6.667 0 1 0 13.333 0A6.667 6.667 0 0 0 1.333 8zm12 0A5.333 5.333 0 1 1 2.667 8a5.333 5.333 0 0 1 10.666 0zm-4.666 2v1.333H7.333V10h1.334zm0-1.333v-4H7.333v4h1.334z'/></svg>");
  mask-size: cover;
  display: inline-block;
  background-color: var(--vtmn-semantic-color_content-negative);
  height: rem(14px);
  width: rem(14px);
  vertical-align: top;
  margin-right: rem(5px);
}

.vtmn-text-input--valid {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-positive);
}

.vtmn-text-input--valid + span[class^='vtmx-'],
.vtmn-text-input--valid + svg {
  color: var(--vtmn-semantic-color_content-positive);
  fill: var(--vtmn-semantic-color_content-positive);
}

.vtmn-text-input--error {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-negative);
}

.vtmn-text-input--error + span[class^='vtmx-'],
.vtmn-text-input--error + svg {
  color: var(--vtmn-semantic-color_content-primary);
  fill: var(--vtmn-semantic-color_content-primary);
}
