/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';

.vtmn-loader {
  width: rem(32px);
  height: rem(32px);
}
.vtmn-loader > svg {
  max-width: rem(32px);
}

/* // Circle styles. */
.vtmn-loader > svg > circle {
  animation: 1s linear infinite forwards circle-rotation,
    3s ease-in-out infinite alternate circle-progress;
  display: block;
  fill: transparent;
  stroke: var(--vtmn-color_brand-digital);
  stroke-linecap: round;
  stroke-dasharray: 280;
  stroke-dashoffset: 280;
  stroke-width: rem(2px);
  transform-origin: 50% 50%;
}

/* Circle animation rotation */
@keyframes circle-rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Circle animation progress */
@keyframes circle-progress {
  from {
    stroke-dashoffset: 20;
  }

  to {
    stroke-dashoffset: 540;
  }
}

/* SIZE */

/* SMALL */
.vtmn-loader.vtmn-loader_size--small {
  width: rem(16px);
  height: rem(16px);
}
.vtmn-loader.vtmn-loader_size--small > svg {
  max-width: rem(16px);
}

.vtmn-loader.vtmn-loader_size--small > svg > circle {
  stroke-width: rem(1px);
}

/* MEDIUM */
.vtmn-loader.vtmn-loader_size--medium {
  width: rem(32px);
  height: rem(32px);
}
.vtmn-loader.vtmn-loader_size--medium > svg {
  max-width: rem(32px);
}

.vtmn-loader.vtmn-loader_size--medium > svg > circle {
  stroke-width: rem(2px);
}

/* LARGE */
.vtmn-loader.vtmn-loader_size--large {
  width: rem(64px);
  height: rem(64px);
}
.vtmn-loader.vtmn-loader_size--large > svg {
  max-width: rem(64px);
}

.vtmn-loader.vtmn-loader_size--large > svg > circle {
  stroke-width: rem(4px);
}
