@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';

.vtmn-divider,
.vtmn-divider_orientation--horizontal {
  display: flex;
  align-items: center;
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-3-font-size);
  line-height: var(--vtmn-typo_text-3-line-height);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-divider::before,
.vtmn-divider::after,
.vtmn-divider_orientation--horizontal::before,
.vtmn-divider_orientation--horizontal::after {
  content: '';
  height: rem(1px);
  background-color: var(--vtmn-semantic-color_border-secondary);
  flex-grow: 1;
}

.vtmn-divider:not(:empty):not(.vtmn-divider_orientation--vertical)::before {
  margin-inline-end: rem(8px);
}

.vtmn-divider:not(:empty):not(.vtmn-divider_orientation--vertical)::after {
  margin-inline-start: rem(8px);
}

.vtmn-divider_text--start::after,
.vtmn-divider_text--end::before {
  flex-grow: 3;
}

.vtmn-divider_orientation--vertical {
  flex-direction: column;
}

.vtmn-divider_orientation--vertical::before,
.vtmn-divider_orientation--vertical::after {
  width: rem(1px);
}

.vtmn-divider_orientation--vertical:not(:empty)::before {
  margin-block-end: rem(8px);
}

.vtmn-divider_orientation--vertical:not(:empty)::after {
  margin-block-start: rem(8px);
}
