@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';

.vtmn-search {
  display: flex;
  position: relative;
  align-items: center;
  width: fit-content;
}

.vtmn-search > input[type='search'] {
  height: rem(48px);
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-semantic-color_border-inactive);
  background-color: var(--vtmn-semantic-color_background-primary);
  border-radius: rem(4px);
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-2-font-size);
  font-weight: var(--vtmn-typo_text-2-line-height);
  padding: rem(12px) rem(85px) rem(12px) rem(12px);
  color: var(--vtmn-semantic-color_content-primary);
  outline: none;
  appearance: none;
  width: fit-content;
}

/* Remove default search input appearance */
.vtmn-search > input[type='search']::-webkit-search-decoration,
.vtmn-search > input[type='search']::-webkit-search-cancel-button,
.vtmn-search > input[type='search']::-webkit-search-results-button,
.vtmn-search > input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

.vtmn-search > input[type='search']:not(:disabled):not(:focus):hover {
  box-shadow: inset 0 0 0 1px var(--vtmn-semantic-color_border-inactive),
    0 0 0 3px var(--vtmn-semantic-color_hover-primary);
}

.vtmn-search > input[type='search']:not(:disabled):focus-visible {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-active);
}

.vtmn-search > input[type='search']:not(:disabled):focus {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-active);
}

.vtmn-search > input[type='search']::placeholder {
  color: var(--vtmn-semantic-color_content-tertiary);
}

.vtmn-search > input[type='search']:not(:disabled):focus {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-active);
}

.vtmn-search > input[type='search']:disabled,
.vtmn-search
  > input[type='search']:disabled
  + .vtmn-search_buttons
  > .vtmn-btn {
  opacity: var(--vtmn-opacity_disabled-state);
  cursor: not-allowed;
}

.vtmn-search_buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  text-align: end;
  padding-right: 2px;
  margin-right: 2px;
}

.vtmn-search_buttons > .vtmn-btn {
  min-height: 36px;
  min-width: 36px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.vtmn-search_buttons > .vtmn-btn > span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-search_buttons > .vtmn-btn:first-child {
  color: var(--vtmn-semantic-color_content-tertiary);
}

/* Size Variants */

/* SMALL */
.vtmn-search_size--small > input[type='search'] {
  height: rem(32px);
  font-size: var(--vtmn-typo_text-3-font-size);
  padding: rem(12px) rem(56px) rem(12px) rem(12px);
}

.vtmn-search_size--small > .vtmn-search_buttons > .vtmn-btn {
  min-height: 24px;
  min-width: 24px;
  height: 24px;
  width: 24px;
}

.vtmn-search_size--small
  > .vtmn-search_buttons
  > .vtmn-btn
  > span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_text-2-font-size);
}
