/**
 * @tokens Font Families
 * @presenter FontFamily
 */
:root {
  --vtmn-typo_font-family: 'Roboto';
  --vtmn-typo_font-family--condensed: 'Roboto Condensed';
}

/**
 * @tokens Font Weights
 * @presenter FontWeight
 */
:root {
  --vtmn-typo_font-weight--regular: 400;
  --vtmn-typo_font-weight--bold: 700;
}

/**
 * @tokens Font Sizes
 * @presenter FontSize
 */
:root {
  --vtmn-typo_display-1-font-size: 60px;
  --vtmn-typo_display-2-font-size: 32px;

  --vtmn-typo_title-1-font-size: 40px;
  --vtmn-typo_title-2-font-size: 36px;
  --vtmn-typo_title-3-font-size: 28px;
  --vtmn-typo_title-4-font-size: 24px;
  --vtmn-typo_title-5-font-size: 20px;

  --vtmn-typo_text-1-font-size: 18px;
  --vtmn-typo_text-2-font-size: 16px;
  --vtmn-typo_text-3-font-size: 14px;
}

/**
 * @tokens Line Heights
 * @presenter LineHeight
 */
:root {
  --vtmn-typo_display-1-line-height: 48px;
  --vtmn-typo_display-2-line-height: 30px;

  --vtmn-typo_title-1-line-height: 42px;
  --vtmn-typo_title-2-line-height: 40px;
  --vtmn-typo_title-3-line-height: 27px;
  --vtmn-typo_title-4-line-height: 28px;
  --vtmn-typo_title-5-line-height: 24px;

  --vtmn-typo_text-1-line-height: 26px;
  --vtmn-typo_text-2-line-height: 24px;
  --vtmn-typo_text-3-line-height: 22px;
}

@screen tablet {
  :root {
    --vtmn-typo_display-1-font-size: 76px;
    --vtmn-typo_display-2-font-size: 48px;

    --vtmn-typo_title-1-font-size: 44px;
    --vtmn-typo_title-2-font-size: 38px;
    --vtmn-typo_title-3-font-size: 30px;
    --vtmn-typo_title-4-font-size: 24px;
    --vtmn-typo_title-5-font-size: 20px;
  }

  :root {
    --vtmn-typo_display-1-line-height: 60px;
    --vtmn-typo_display-2-line-height: 44px;

    --vtmn-typo_title-1-line-height: 48px;
    --vtmn-typo_title-2-line-height: 42px;
    --vtmn-typo_title-3-line-height: 34px;
    --vtmn-typo_title-4-line-height: 28px;
    --vtmn-typo_title-5-line-height: 24px;
  }
}

@screen small-desktop {
  :root {
    --vtmn-typo_display-1-font-size: 76px;
    --vtmn-typo_display-2-font-size: 48px;

    --vtmn-typo_title-1-font-size: 44px;
    --vtmn-typo_title-2-font-size: 38px;
    --vtmn-typo_title-3-font-size: 30px;
    --vtmn-typo_title-4-font-size: 24px;
    --vtmn-typo_title-5-font-size: 20px;
  }

  :root {
    --vtmn-typo_display-1-line-height: 60px;
    --vtmn-typo_display-2-line-height: 44px;

    --vtmn-typo_title-1-line-height: 48px;
    --vtmn-typo_title-2-line-height: 42px;
    --vtmn-typo_title-3-line-height: 34px;
    --vtmn-typo_title-4-line-height: 28px;
    --vtmn-typo_title-5-line-height: 24px;
  }
}

@screen medium-desktop {
  :root {
    --vtmn-typo_display-1-font-size: 96px;
    --vtmn-typo_display-2-font-size: 60px;

    --vtmn-typo_title-1-font-size: 48px;
    --vtmn-typo_title-2-font-size: 40px;
    --vtmn-typo_title-3-font-size: 32px;
    --vtmn-typo_title-4-font-size: 26px;
    --vtmn-typo_title-5-font-size: 20px;
  }

  :root {
    --vtmn-typo_display-1-line-height: 76px;
    --vtmn-typo_display-2-line-height: 56px;

    --vtmn-typo_title-1-line-height: 50px;
    --vtmn-typo_title-2-line-height: 42px;
    --vtmn-typo_title-3-line-height: 42px;
    --vtmn-typo_title-4-line-height: 32px;
    --vtmn-typo_title-5-line-height: 24px;
  }
}

@screen large-desktop {
  :root {
    --vtmn-typo_display-1-font-size: 96px;
    --vtmn-typo_display-2-font-size: 60px;

    --vtmn-typo_title-1-font-size: 48px;
    --vtmn-typo_title-2-font-size: 40px;
    --vtmn-typo_title-3-font-size: 32px;
    --vtmn-typo_title-4-font-size: 26px;
    --vtmn-typo_title-5-font-size: 20px;
  }

  :root {
    --vtmn-typo_display-1-line-height: 76px;
    --vtmn-typo_display-2-line-height: 56px;

    --vtmn-typo_title-1-line-height: 50px;
    --vtmn-typo_title-2-line-height: 42px;
    --vtmn-typo_title-3-line-height: 42px;
    --vtmn-typo_title-4-line-height: 32px;
    --vtmn-typo_title-5-line-height: 24px;
  }
}
