@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';

.vtmn-select_container {
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--normal);
  box-sizing: border-box;
  font-size: var(--vtmn-typo_text-2-font-size);
  line-height: var(--vtmn-typo_text-2-line-height);
  color: var(--vtmn-semantic-color_content-primary);
  width: min-content;
}

.vtmn-select_container select {
  appearance: none;
  padding: rem(12px) rem(40px) rem(12px) rem(12px);
  display: block;
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-semantic-color_border-inactive);
  border-radius: rem(4px);
  height: rem(48px);
  margin-bottom: rem(5px);
  width: min-content;
  background-color: var(--vtmn-semantic-color_background-primary);
  cursor: pointer;
  border: 0;
  transition: box-shadow 200ms ease-out;
}

/* Set the dropdown arrow icon */
.vtmn-select_container::before {
  content: '';
  mask: url("data:image/svg+xml;charset=utf-8, <svg width='24' height='24' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='m8 8.781 3.3-3.3.943.943L8 10.667 3.757 6.424l.943-.943 3.3 3.3z'/></svg>");
  display: block;
  position: relative;
  float: right;
  top: rem(36px);
  right: rem(12px);
  width: rem(24px);
  height: rem(24px);
  pointer-events: none;
  background-color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-select_container .vtmn-select_error-text {
  font-size: var(--vtmn-typo_text-3-font-size);
}

.vtmn-select_container .vtmn-select_error-text::before {
  position: relative;
  content: url("data:image/svg+xml;charset=utf-8, <svg width='14' height='14' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M1.333 8a6.667 6.667 0 1 0 13.333 0A6.667 6.667 0 0 0 1.333 8zm12 0A5.333 5.333 0 1 1 2.667 8a5.333 5.333 0 0 1 10.666 0zm-4.666 2v1.333H7.333V10h1.334zm0-1.333v-4H7.333v4h1.334z' fill='%23E32C26'/></svg>");
  top: rem(2px);
  margin-right: rem(5px);
}

.vtmn-select_container select:not(:disabled):hover {
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-select_container select:not(:disabled):active,
.vtmn-select_container select:not(:disabled):focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-active);
}

.vtmn-select_container select:disabled,
.vtmn-select_container select:disabled + label {
  opacity: var(--vtmn-opacity_disabled-state);
  cursor: not-allowed;
}

.vtmn-select_container select.vtmn-select--error {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-semantic-color_border-negative);
}
