/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';

/* @import '@vtmn/css-design-tokens/src/opacities'; */

.vtmn-select {
  font-family: var(--vtmn-typo_font-family);
  box-sizing: border-box;
  font-size: var(--vtmn-typo_text-2-font-size);
  line-height: var(--vtmn-typo_text-2-line-height);
  color: var(--vtmn-color_black);
  width: min-content;
}

.vtmn-select select {
  -webkit-appearance: none;
  appearance: none;
  padding: rem(12px) rem(40px) rem(12px) rem(12px);
  display: block;
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-color_grey-light-1);
  border-radius: rem(4px);
  height: rem(48px);
  margin-bottom: rem(5px);
  width: min-content;
}

/* Set the dropdown arrow icon */
.vtmn-select label::after {
  content: url("data:image/svg+xml;charset=utf-8, <svg width='24' height='24' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='m8 8.781 3.3-3.3.943.943L8 10.667 3.757 6.424l.943-.943 3.3 3.3z' fill='black'/></svg>");
  display: block;
  position: relative;
  float: right;
  top: rem(42px);
  right: rem(12px);
  pointer-events: none;
}

.vtmn-select .vtmn-select_error-text {
  font-size: var(--vtmn-typo_text-3-font-size);
}

.vtmn-select .vtmn-select_error-text::before {
  position: relative;
  content: url("data:image/svg+xml;charset=utf-8, <svg width='14' height='14' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M1.333 8a6.667 6.667 0 1 0 13.333 0A6.667 6.667 0 0 0 1.333 8zm12 0A5.333 5.333 0 1 1 2.667 8a5.333 5.333 0 0 1 10.666 0zm-4.666 2v1.333H7.333V10h1.334zm0-1.333v-4H7.333v4h1.334z' fill='%23E32C26'/></svg>");
  top: rem(2px);
  margin-right: rem(5px);
}

.vtmn-select select:not(:disabled):hover {
  background-color: var(--vtmn-color_grey-light-3);
}

.vtmn-select select:not(:disabled):active,
.vtmn-select select:not(:disabled):focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-color_brand-digital);
}

.vtmn-select select:disabled,
.vtmn-select select:disabled + label {
  opacity: 0.38;
  cursor: not-allowed;
}

.vtmn-select--error select {
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-color_danger);
}
