@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';
@import '@vtmn/css-design-tokens/src/shadows';
@import '@vtmn/css-design-tokens/src/animations';

.vtmn-toast {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: rem(8px) rem(16px);
  height: rem(48px);
  max-width: fit-content;
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-2-font-size);
  line-height: var(--vtmn-typo_text-2-line-height);
  color: var(--vtmn-semantic-color_content-primary-reversed);
  background-color: var(--vtmn-semantic-color_background-primary-reversed);
  box-shadow: var(--vtmn-shadow_200);
  border-radius: rem(4px);
}

.vtmn-toast.show {
  visibility: visible;
  position: fixed;
  right: 50%;
  bottom: 0;
  transform: translate(50%, -50%);
  animation: var(--vtmn-animation_overlay);
}

.vtmn-toast > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vtmn-toast_with-icon-info > p::before {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  width: rem(24px);
  height: rem(24px);
  content: '';
  background-color: var(--vtmn-semantic-color_content-primary-reversed);
}

.vtmn-toast_with-icon-info > p::before {
  margin-right: rem(16px);
  mask: url("data:image/svg+xml;charset=utf-8, <svg width='24' height='24' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M1.333 8a6.666 6.666 0 1 0 13.333 0A6.666 6.666 0 0 0 1.333 8zm12 0A5.333 5.333 0 1 1 2.667 8a5.333 5.333 0 0 1 10.666 0zM8.667 4.667V6H7.333V4.667h1.334zm0 6.666v-4H7.333v4h1.334z'/></svg>");
}

.vtmn-toast > span[class^='vtmx-'] {
  cursor: pointer;
  margin-left: rem(16px);
  white-space: nowrap;
  font-size: rem(24px);
  color: var(--vtmn-semantic-color_content-primary-reversed);
}
