/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';

.vtmn-badge {
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-3-font-size);
  display: inline-flex;
  min-width: rem(20px);
  height: rem(20px);
  justify-content: center;
  align-items: center;
  border-radius: rem(10px);
  background-color: var(--vtmn-color_grey-light-4);
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-color_grey-light-3);
  padding: 0 rem(6px);
}

.vtmn-badge:focus-visible {
  outline: none;
  box-shadow: 0 0 0 rem(4px) var(--vtmn-color_white),
    0 0 0 rem(6px) var(--vtmn-color_black);
}

/* Sizes */

.vtmn-badge_size--small {
  min-width: rem(8px);
  height: rem(8px);
  padding: 0;
}

/* Variants */

.vtmn-badge_variant--default {
  background-color: var(--vtmn-color_grey-light-4);
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-color_grey-light-3);
}

.vtmn-badge_variant--brand {
  background-color: var(--vtmn-color_brand-digital);
  box-shadow: none;
  color: var(--vtmn-color_white);
}

.vtmn-badge_variant--reversed {
  background-color: var(--vtmn-color_white);
  box-shadow: none;
}

.vtmn-badge_variant--accent {
  background-color: var(--vtmn-color_yellow);
  box-shadow: none;
}
