@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';

.vtmn-badge {
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-3-font-size);
  display: inline-flex;
  height: 20px;
  min-width: 20px;
  justify-content: center;
  align-items: center;
  border-radius: rem(10px);
  background-color: var(--vtmn-semantic-color_background-tertiary);
  color: var(--vtmn-semantic-color_content-primary);
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-semantic-color_border-secondary);
  padding: 0 rem(6px);
}

.vtmn-badge:focus-visible {
  outline: none;
  box-shadow: 0 0 0 rem(4px) var(--vtmn-semantic-color_border-primary-reversed),
    0 0 0 rem(6px) var(--vtmn-semantic-color_border-primary);
}

/* Variants */

.vtmn-badge_variant--default {
  background-color: var(--vtmn-semantic-color_background-tertiary);
  color: var(--vtmn-semantic-color_content-primary);
  box-shadow: inset 0 0 0 rem(1px) var(--vtmn-semantic-color_border-secondary);
}

.vtmn-badge_variant--brand {
  background-color: var(--vtmn-semantic-color_background-brand-primary);
  color: var(--vtmn-semantic-color_content-primary-reversed);
  box-shadow: none;
}

.vtmn-badge_variant--reversed {
  background-color: var(
    --vtmn-semantic-color_background-brand-primary-reversed
  );
  color: var(--vtmn-semantic-color_content-primary);
  box-shadow: none;
}

.vtmn-badge_variant--accent {
  background-color: var(--vtmn-semantic-color_background-accent);
  color: var(--vtmn-semantic-color_content-accent);
  box-shadow: none;
}

/* Sizes */

.vtmn-badge_size--without-value {
  min-width: rem(8px);
  height: rem(8px);
  padding: 0;
}
