@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/animations';
@import '@vtmn/css-design-tokens/src/radius';

.vtmn-progressbar_container {
  max-width: 100%;
  position: relative;
  color: var(--vtmn-semantic-color_content-primary);
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--normal);
}

.vtmn-progressbar_container svg {
  width: 100%;
  height: rem(8px);
  border-radius: var(--vtmn-radius_700);
  background-color: var(--vtmn-semantic-color_background-tertiary);
}

.vtmn-progressbar_label {
  margin-bottom: rem(8px);
  width: 100%;
}

.vtmn-progressbar_indicator {
  width: 100%;
  height: 100%;
  stroke: var(--vtmn-semantic-color_content-active);
  stroke-width: rem(8px);
  stroke-linecap: round;
  transition: all 200ms;
}

.vtmn-progressbar_container:not(.vtmn-progressbar_variant--circular)
  .vtmn-progressbar_label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Circle */
.vtmn-progressbar_variant--circular.vtmn-progressbar_container {
  width: rem(136px);
  height: rem(136px);
}

.vtmn-progressbar_variant--circular .vtmn-progressbar_label {
  width: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--vtmn-typo_title-3-font-size);
  font-weight: var(--vtmn-typo_font-weight--bold);
}

/* .vtmn-progressbar_variant--circular .vtmn-progressbar_label::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--vtmn-typo_title-3-font-size);
  font-weight: var(--vtmn-typo_font-weight--bold);
} */

.vtmn-progressbar_variant--circular .vtmn-progressbar_image {
  max-width: rem(112px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: auto;
  position: absolute;
}

.vtmn-progressbar_variant--circular svg {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.vtmn-progressbar_variant--circular .vtmn-progressbar_track {
  width: rem(128px);
  height: rem(128px);
  stroke-width: rem(8px);
  fill: transparent;
  stroke: var(--vtmn-semantic-color_background-tertiary);
}

.vtmn-progressbar_variant--circular .vtmn-progressbar_indicator {
  width: rem(128px);
  height: rem(128px);
  transform-origin: center;
  transform: rotate(-90deg);
  fill: transparent;
  stroke-dasharray: 400;
}

/* SIZES */

/* Small */
.vtmn-progressbar_size--small.vtmn-progressbar_variant--circular.vtmn-progressbar_container {
  width: rem(70px);
  height: rem(70px);
}

.vtmn-progressbar_size--small.vtmn-progressbar_variant--circular
  .vtmn-progressbar_label {
  font-size: var(--vtmn-typo_text-1-font-size);
  font-weight: var(--vtmn-typo_font-weight--normal);
}

.vtmn-progressbar_size--small.vtmn-progressbar_variant--circular
  .vtmn-progressbar_track {
  width: rem(64px);
  height: rem(64px);
  stroke-width: rem(4px);
}

.vtmn-progressbar_size--small.vtmn-progressbar_variant--circular
  .vtmn-progressbar_indicator {
  width: rem(64px);
  height: rem(64px);
  stroke-width: rem(4px);
  stroke-dasharray: 200;
}

.vtmn-progressbar_size--small.vtmn-progressbar_variant--circular
  > .vtmn-progressbar_image {
  max-width: rem(56px);
}

.vtmn-progressbar_size--small:not(.vtmn-progressbar_variant--circular) {
  font-size: var(--vtmn-typo_text-3-font-size);
}

.vtmn-progressbar_size--small:not(.vtmn-progressbar_variant--circular)
  .vtmn-progressbar_labels {
  margin-bottom: rem(4px);
}

.vtmn-progressbar_size--small:not(.vtmn-progressbar_variant--circular) svg {
  height: rem(4px);
}

.vtmn-progressbar_size--small:not(.vtmn-progressbar_variant--circular)
  .vtmn-progressbar_indicator {
  stroke-width: rem(4px);
}

/* Medium (default) */
.vtmn-progressbar_size--medium {
  font-size: var(--vtmn-typo_text-2-font-size);
}

.vtmn-progressbar_size--medium .vtmn-progressbar_labels {
  margin-bottom: rem(8px);
}

.vtmn-progressbar_size--medium svg {
  height: rem(8px);
}

.vtmn-progressbar_size--medium .vtmn-progressbar_indicator {
  stroke-width: rem(8px);
}

/* Large */
.vtmn-progressbar_size--large {
  font-size: var(--vtmn-typo_text-2-font-size);
}

.vtmn-progressbar_size--large .vtmn-progressbar_labels {
  margin-bottom: rem(8px);
}

.vtmn-progressbar_size--large svg {
  height: rem(16px);
}

.vtmn-progressbar_size--large .vtmn-progressbar_indicator {
  stroke-width: rem(16px);
}

/* INDETERMINATE */

/* Linear */
.vtmn-progressbar--indeterminate .vtmn-progressbar_indicator {
  position: absolute;
  animation: var(--vtmn-animation_linear-indeterminate);
}

/* Circle */
.vtmn-progressbar_variant--circular.vtmn-progressbar--indeterminate
  .vtmn-progressbar_indicator {
  position: absolute;
  animation: var(--vtmn-animation_circle-indeterminate);
}

.vtmn-progressbar_variant--circular.vtmn-progressbar_size--small.vtmn-progressbar--indeterminate
  .vtmn-progressbar_indicator {
  position: absolute;
  animation: var(--vtmn-animation_circle-indeterminate-small);
}
