@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';

.vtmn-breadcrumb {
  display: block;
  height: fit-content;
  width: fit-content;
  font-family: var(--vtmn-typo_font-family);
  color: var(--vtmn-semantic-color_content-tertiary);
  font-size: var(--vtmn-typo_text-3-font-size);
  font-weight: var(--vtmn-typo_font-weight--regular);
  line-height: var(--vtmn-typo_text-3-line-height);
}

.vtmn-breadcrumb > ol,
.vtmn-breadcrumb li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.vtmn-breadcrumb li {
  list-style-type: none;
}

.vtmn-breadcrumb li > span {
  margin-right: rem(4px);
}

.vtmn-breadcrumb li:not(:last-child)::after {
  content: '/';
  margin: 0 rem(8px);
}

.vtmn-breadcrumb li > a:hover {
  text-decoration: underline;
  color: inherit;
}

.vtmn-breadcrumb li:last-child {
  color: var(--vtmn-semantic-color_content-primary);
}
