@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';

.vtmn-breadcrumb {
  box-shadow: inset 0 0 0 rem(2px) transparent;
  font-size: var(--vtmn-typo_text-2-font-size);
  min-height: rem(48px);
  max-width: 100%;
  width: fit-content;
  padding: rem(14px) rem(24px);
  line-height: 1.25;
  letter-spacing: rem(0.5px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--vtmn-semantic-color_background-brand-primary);
  color: var(--vtmn-semantic-color_content-primary-reversed);
  fill: var(--vtmn-semantic-color_content-primary-reversed);
  border: none;
  border-radius: rem(4px);
  display: inline-block;
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--bold);
  position: relative;
  text-align: center;
}
