/**
 * @tokens Animations
 * @presenter Animation
 */
:root {
  --vtmn-animation_fade-in: fade_in 200ms ease-in-out forwards;
  --vtmn-animation_alert: fade_in 200ms ease-in forwards,
    slide-left 0.5s ease-in forwards, slide-right 0.5s 7.5s ease-in forwards;
  --vtmn-animation_alert-mobile: fade_in 200ms ease-in forwards,
    slide-down 0.5s ease-in forwards, slide-up 0.5s 7.5s ease-in forwards;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
