/**
 * @tokens Base colors palette
 * @presenter Color
 */
:root {
  --vtmn-base-color_white--h: 0;
  --vtmn-base-color_white--s: 0%;
  --vtmn-base-color_white--l: 100%;
  --vtmn-base-color_white: hsl(
    --vtmn-base-color_white--h,
    --vtmn-base-color_white--s,
    --vtmn-base-color_white--l
  );
  --vtmn-base-color_grey50--h: 210;
  --vtmn-base-color_grey50--s: 14.3%;
  --vtmn-base-color_grey50--l: 97.3%;
  --vtmn-base-color_grey50: hsl(
    --vtmn-base-color_grey50--h,
    --vtmn-base-color_grey50--s,
    --vtmn-base-color_grey50--l
  );
  --vtmn-base-color_grey100--h: 210;
  --vtmn-base-color_grey100--s: 14.3%;
  --vtmn-base-color_grey100--l: 94.5%;
  --vtmn-base-color_grey100: hsl(
    --vtmn-base-color_grey100--h,
    --vtmn-base-color_grey100--s,
    --vtmn-base-color_grey100--l
  );
  --vtmn-base-color_grey200--h: 210;
  --vtmn-base-color_grey200--s: 11.8%;
  --vtmn-base-color_grey200--l: 86.7%;
  --vtmn-base-color_grey200: hsl(
    --vtmn-base-color_grey200--h,
    --vtmn-base-color_grey200--s,
    --vtmn-base-color_grey200--l
  );
  --vtmn-base-color_grey300--h: 214;
  --vtmn-base-color_grey300--s: 11.8%;
  --vtmn-base-color_grey300--l: 73.3%;
  --vtmn-base-color_grey300: hsl(
    --vtmn-base-color_grey300--h,
    --vtmn-base-color_grey300--s,
    --vtmn-base-color_grey300--l
  );
  --vtmn-base-color_grey400--h: 213;
  --vtmn-base-color_grey400--s: 10.6%;
  --vtmn-base-color_grey400--l: 59.2%;
  --vtmn-base-color_grey400: hsl(
    --vtmn-base-color_grey400--h,
    --vtmn-base-color_grey400--s,
    --vtmn-base-color_grey400--l
  );
  --vtmn-base-color_grey500--h: 211;
  --vtmn-base-color_grey500--s: 13%;
  --vtmn-base-color_grey500--l: 46.9%;
  --vtmn-base-color_grey500: hsl(
    --vtmn-base-color_grey500--h,
    --vtmn-base-color_grey500--s,
    --vtmn-base-color_grey500--l
  );
  --vtmn-base-color_grey600--h: 209;
  --vtmn-base-color_grey600--s: 15.7%;
  --vtmn-base-color_grey600--l: 36.3%;
  --vtmn-base-color_grey600: hsl(
    --vtmn-base-color_grey600--h,
    --vtmn-base-color_grey600--s,
    --vtmn-base-color_grey600--l
  );
  --vtmn-base-color_grey700--h: 206;
  --vtmn-base-color_grey700--s: 21.2%;
  --vtmn-base-color_grey700--l: 25.9%;
  --vtmn-base-color_grey700: hsl(
    --vtmn-base-color_grey700--h,
    --vtmn-base-color_grey700--s,
    --vtmn-base-color_grey700--l
  );
  --vtmn-base-color_grey800--h: 203;
  --vtmn-base-color_grey800--s: 33.3%;
  --vtmn-base-color_grey800--l: 15.3%;
  --vtmn-base-color_grey800: hsl(
    --vtmn-base-color_grey800--h,
    --vtmn-base-color_grey800--s,
    --vtmn-base-color_grey800--l
  );
  --vtmn-base-color_grey900--h: 203;
  --vtmn-base-color_grey900--s: 34.4%;
  --vtmn-base-color_grey900--l: 12%;
  --vtmn-base-color_grey900: hsl(
    --vtmn-base-color_grey900--h,
    --vtmn-base-color_grey900--s,
    --vtmn-base-color_grey900--l
  );
  --vtmn-base-color_black--h: 200;
  --vtmn-base-color_black--s: 100%;
  --vtmn-base-color_black--l: 4.7%;
  --vtmn-base-color_black: hsl(
    --vtmn-base-color_black--h,
    --vtmn-base-color_black--s,
    --vtmn-base-color_black--l
  );
  --vtmn-base-color_red50--h: 357;
  --vtmn-base-color_red50--s: 90%;
  --vtmn-base-color_red50--l: 96.1%;
  --vtmn-base-color_red50: hsl(
    --vtmn-base-color_red50--h,
    --vtmn-base-color_red50--s,
    --vtmn-base-color_red50--l
  );
  --vtmn-base-color_red100--h: 358;
  --vtmn-base-color_red100--s: 96.4%;
  --vtmn-base-color_red100--l: 89.2%;
  --vtmn-base-color_red100: hsl(
    --vtmn-base-color_red100--h,
    --vtmn-base-color_red100--s,
    --vtmn-base-color_red100--l
  );
  --vtmn-base-color_red200--h: 357;
  --vtmn-base-color_red200--s: 96.4%;
  --vtmn-base-color_red200--l: 78.2%;
  --vtmn-base-color_red200: hsl(
    --vtmn-base-color_red200--h,
    --vtmn-base-color_red200--s,
    --vtmn-base-color_red200--l
  );
  --vtmn-base-color_red300--h: 357;
  --vtmn-base-color_red300--s: 97.2%;
  --vtmn-base-color_red300--l: 72%;
  --vtmn-base-color_red300: hsl(
    --vtmn-base-color_red300--h,
    --vtmn-base-color_red300--s,
    --vtmn-base-color_red300--l
  );
  --vtmn-base-color_red400--h: 357;
  --vtmn-base-color_red400--s: 77.1%;
  --vtmn-base-color_red400--l: 52%;
  --vtmn-base-color_red400: hsl(
    --vtmn-base-color_red400--h,
    --vtmn-base-color_red400--s,
    --vtmn-base-color_red400--l
  );
  --vtmn-base-color_red500--h: 357;
  --vtmn-base-color_red500--s: 100%;
  --vtmn-base-color_red500--l: 33.5%;
  --vtmn-base-color_red500: hsl(
    --vtmn-base-color_red500--h,
    --vtmn-base-color_red500--s,
    --vtmn-base-color_red500--l
  );
  --vtmn-base-color_red600--h: 357;
  --vtmn-base-color_red600--s: 100%;
  --vtmn-base-color_red600--l: 26.5%;
  --vtmn-base-color_red600: hsl(
    --vtmn-base-color_red600--h,
    --vtmn-base-color_red600--s,
    --vtmn-base-color_red600--l
  );
  --vtmn-base-color_red700--h: 357;
  --vtmn-base-color_red700--s: 100%;
  --vtmn-base-color_red700--l: 17.6%;
  --vtmn-base-color_red700: hsl(
    --vtmn-base-color_red700--h,
    --vtmn-base-color_red700--s,
    --vtmn-base-color_red700--l
  );
  --vtmn-base-color_orange50--h: 20;
  --vtmn-base-color_orange50--s: 100%;
  --vtmn-base-color_orange50--l: 96.5%;
  --vtmn-base-color_orange50: hsl(
    --vtmn-base-color_orange50--h,
    --vtmn-base-color_orange50--s,
    --vtmn-base-color_orange50--l
  );
  --vtmn-base-color_orange100--h: 20;
  --vtmn-base-color_orange100--s: 100%;
  --vtmn-base-color_orange100--l: 92%;
  --vtmn-base-color_orange100: hsl(
    --vtmn-base-color_orange100--h,
    --vtmn-base-color_orange100--s,
    --vtmn-base-color_orange100--l
  );
  --vtmn-base-color_orange200--h: 21;
  --vtmn-base-color_orange200--s: 89.5%;
  --vtmn-base-color_orange200--l: 81.4%;
  --vtmn-base-color_orange200: hsl(
    --vtmn-base-color_orange200--h,
    --vtmn-base-color_orange200--s,
    --vtmn-base-color_orange200--l
  );
  --vtmn-base-color_orange300--h: 21;
  --vtmn-base-color_orange300--s: 93.5%;
  --vtmn-base-color_orange300--l: 69.6%;
  --vtmn-base-color_orange300: hsl(
    --vtmn-base-color_orange300--h,
    --vtmn-base-color_orange300--s,
    --vtmn-base-color_orange300--l
  );
  --vtmn-base-color_orange400--h: 21;
  --vtmn-base-color_orange400--s: 100%;
  --vtmn-base-color_orange400--l: 52%;
  --vtmn-base-color_orange400: hsl(
    --vtmn-base-color_orange400--h,
    --vtmn-base-color_orange400--s,
    --vtmn-base-color_orange400--l
  );
  --vtmn-base-color_orange500--h: 21;
  --vtmn-base-color_orange500--s: 65%;
  --vtmn-base-color_orange500--l: 45.9%;
  --vtmn-base-color_orange500: hsl(
    --vtmn-base-color_orange500--h,
    --vtmn-base-color_orange500--s,
    --vtmn-base-color_orange500--l
  );
  --vtmn-base-color_orange600--h: 21;
  --vtmn-base-color_orange600--s: 64.7%;
  --vtmn-base-color_orange600--l: 36.7%;
  --vtmn-base-color_orange600: hsl(
    --vtmn-base-color_orange600--h,
    --vtmn-base-color_orange600--s,
    --vtmn-base-color_orange600--l
  );
  --vtmn-base-color_orange700--h: 21;
  --vtmn-base-color_orange700--s: 64.8%;
  --vtmn-base-color_orange700--l: 24.5%;
  --vtmn-base-color_orange700: hsl(
    --vtmn-base-color_orange700--h,
    --vtmn-base-color_orange700--s,
    --vtmn-base-color_orange700--l
  );
  --vtmn-base-color_yellow50--h: 56;
  --vtmn-base-color_yellow50--s: 100%;
  --vtmn-base-color_yellow50--l: 97.1%;
  --vtmn-base-color_yellow50: hsl(
    --vtmn-base-color_yellow50--h,
    --vtmn-base-color_yellow50--s,
    --vtmn-base-color_yellow50--l
  );
  --vtmn-base-color_yellow100--h: 56;
  --vtmn-base-color_yellow100--s: 100%;
  --vtmn-base-color_yellow100--l: 89%;
  --vtmn-base-color_yellow100: hsl(
    --vtmn-base-color_yellow100--h,
    --vtmn-base-color_yellow100--s,
    --vtmn-base-color_yellow100--l
  );
  --vtmn-base-color_yellow200--h: 55;
  --vtmn-base-color_yellow200--s: 100%;
  --vtmn-base-color_yellow200--l: 77.6%;
  --vtmn-base-color_yellow200: hsl(
    --vtmn-base-color_yellow200--h,
    --vtmn-base-color_yellow200--s,
    --vtmn-base-color_yellow200--l
  );
  --vtmn-base-color_yellow300--h: 55;
  --vtmn-base-color_yellow300--s: 100%;
  --vtmn-base-color_yellow300--l: 72%;
  --vtmn-base-color_yellow300: hsl(
    --vtmn-base-color_yellow300--h,
    --vtmn-base-color_yellow300--s,
    --vtmn-base-color_yellow300--l
  );
  --vtmn-base-color_yellow400--h: 54;
  --vtmn-base-color_yellow400--s: 100%;
  --vtmn-base-color_yellow400--l: 57.8%;
  --vtmn-base-color_yellow400: hsl(
    --vtmn-base-color_yellow400--h,
    --vtmn-base-color_yellow400--s,
    --vtmn-base-color_yellow400--l
  );
  --vtmn-base-color_yellow500--h: 55;
  --vtmn-base-color_yellow500--s: 62.1%;
  --vtmn-base-color_yellow500--l: 45.5%;
  --vtmn-base-color_yellow500: hsl(
    --vtmn-base-color_yellow500--h,
    --vtmn-base-color_yellow500--s,
    --vtmn-base-color_yellow500--l
  );
  --vtmn-base-color_yellow600--h: 55;
  --vtmn-base-color_yellow600--s: 58.5%;
  --vtmn-base-color_yellow600--l: 37.8%;
  --vtmn-base-color_yellow600: hsl(
    --vtmn-base-color_yellow600--h,
    --vtmn-base-color_yellow600--s,
    --vtmn-base-color_yellow600--l
  );
  --vtmn-base-color_yellow700--h: 55;
  --vtmn-base-color_yellow700--s: 58.5%;
  --vtmn-base-color_yellow700--l: 25.5%;
  --vtmn-base-color_yellow700: hsl(
    --vtmn-base-color_yellow700--h,
    --vtmn-base-color_yellow700--s,
    --vtmn-base-color_yellow700--l
  );
  --vtmn-base-color_conifer50--h: 114;
  --vtmn-base-color_conifer50--s: 70.4%;
  --vtmn-base-color_conifer50--l: 94.7%;
  --vtmn-base-color_conifer50: hsl(
    --vtmn-base-color_conifer50--h,
    --vtmn-base-color_conifer50--s,
    --vtmn-base-color_conifer50--l
  );
  --vtmn-base-color_conifer100--h: 114;
  --vtmn-base-color_conifer100--s: 57.7%;
  --vtmn-base-color_conifer100--l: 86.1%;
  --vtmn-base-color_conifer100: hsl(
    --vtmn-base-color_conifer100--h,
    --vtmn-base-color_conifer100--s,
    --vtmn-base-color_conifer100--l
  );
  --vtmn-base-color_conifer200--h: 114;
  --vtmn-base-color_conifer200--s: 52.4%;
  --vtmn-base-color_conifer200--l: 67.1%;
  --vtmn-base-color_conifer200: hsl(
    --vtmn-base-color_conifer200--h,
    --vtmn-base-color_conifer200--s,
    --vtmn-base-color_conifer200--l
  );
  --vtmn-base-color_conifer300--h: 114;
  --vtmn-base-color_conifer300--s: 45.4%;
  --vtmn-base-color_conifer300--l: 59.8%;
  --vtmn-base-color_conifer300: hsl(
    --vtmn-base-color_conifer300--h,
    --vtmn-base-color_conifer300--s,
    --vtmn-base-color_conifer300--l
  );
  --vtmn-base-color_conifer400--h: 134;
  --vtmn-base-color_conifer400--s: 65.7%;
  --vtmn-base-color_conifer400--l: 40%;
  --vtmn-base-color_conifer400: hsl(
    --vtmn-base-color_conifer400--h,
    --vtmn-base-color_conifer400--s,
    --vtmn-base-color_conifer400--l
  );
  --vtmn-base-color_conifer500--h: 114;
  --vtmn-base-color_conifer500--s: 49.5%;
  --vtmn-base-color_conifer500--l: 42%;
  --vtmn-base-color_conifer500: hsl(
    --vtmn-base-color_conifer500--h,
    --vtmn-base-color_conifer500--s,
    --vtmn-base-color_conifer500--l
  );
  --vtmn-base-color_conifer600--h: 114;
  --vtmn-base-color_conifer600--s: 50.8%;
  --vtmn-base-color_conifer600--l: 36.7%;
  --vtmn-base-color_conifer600: hsl(
    --vtmn-base-color_conifer600--h,
    --vtmn-base-color_conifer600--s,
    --vtmn-base-color_conifer600--l
  );
  --vtmn-base-color_conifer700--h: 114;
  --vtmn-base-color_conifer700--s: 57.7%;
  --vtmn-base-color_conifer700--l: 26.9%;
  --vtmn-base-color_conifer700: hsl(
    --vtmn-base-color_conifer700--h,
    --vtmn-base-color_conifer700--s,
    --vtmn-base-color_conifer700--l
  );
  --vtmn-base-color_green50--h: 163;
  --vtmn-base-color_green50--s: 63.6%;
  --vtmn-base-color_green50--l: 93.5%;
  --vtmn-base-color_green50: hsl(
    --vtmn-base-color_green50--h,
    --vtmn-base-color_green50--s,
    --vtmn-base-color_green50--l
  );
  --vtmn-base-color_green100--h: 164;
  --vtmn-base-color_green100--s: 60.5%;
  --vtmn-base-color_green100--l: 84.1%;
  --vtmn-base-color_green100: hsl(
    --vtmn-base-color_green100--h,
    --vtmn-base-color_green100--s,
    --vtmn-base-color_green100--l
  );
  --vtmn-base-color_green200--h: 164;
  --vtmn-base-color_green200--s: 60.7%;
  --vtmn-base-color_green200--l: 68%;
  --vtmn-base-color_green200: hsl(
    --vtmn-base-color_green200--h,
    --vtmn-base-color_green200--s,
    --vtmn-base-color_green200--l
  );
  --vtmn-base-color_green300--h: 163;
  --vtmn-base-color_green300--s: 72.4%;
  --vtmn-base-color_green300--l: 46.9%;
  --vtmn-base-color_green300: hsl(
    --vtmn-base-color_green300--h,
    --vtmn-base-color_green300--s,
    --vtmn-base-color_green300--l
  );
  --vtmn-base-color_green400--h: 163;
  --vtmn-base-color_green400--s: 97.9%;
  --vtmn-base-color_green400--l: 37.6%;
  --vtmn-base-color_green400: hsl(
    --vtmn-base-color_green400--h,
    --vtmn-base-color_green400--s,
    --vtmn-base-color_green400--l
  );
  --vtmn-base-color_green500--h: 163;
  --vtmn-base-color_green500--s: 97.5%;
  --vtmn-base-color_green500--l: 31.4%;
  --vtmn-base-color_green500: hsl(
    --vtmn-base-color_green500--h,
    --vtmn-base-color_green500--s,
    --vtmn-base-color_green500--l
  );
  --vtmn-base-color_green600--h: 163;
  --vtmn-base-color_green600--s: 98.4%;
  --vtmn-base-color_green600--l: 25.1%;
  --vtmn-base-color_green600: hsl(
    --vtmn-base-color_green600--h,
    --vtmn-base-color_green600--s,
    --vtmn-base-color_green600--l
  );
  --vtmn-base-color_green700--h: 156;
  --vtmn-base-color_green700--s: 100%;
  --vtmn-base-color_green700--l: 21.8%;
  --vtmn-base-color_green700: hsl(
    --vtmn-base-color_green700--h,
    --vtmn-base-color_green700--s,
    --vtmn-base-color_green700--l
  );
  --vtmn-base-color_blue50--h: 200;
  --vtmn-base-color_blue50--s: 60%;
  --vtmn-base-color_blue50--l: 94.1%;
  --vtmn-base-color_blue50: hsl(
    --vtmn-base-color_blue50--h,
    --vtmn-base-color_blue50--s,
    --vtmn-base-color_blue50--l
  );
  --vtmn-base-color_blue100--h: 201;
  --vtmn-base-color_blue100--s: 60.5%;
  --vtmn-base-color_blue100--l: 84.1%;
  --vtmn-base-color_blue100: hsl(
    --vtmn-base-color_blue100--h,
    --vtmn-base-color_blue100--s,
    --vtmn-base-color_blue100--l
  );
  --vtmn-base-color_blue200--h: 201;
  --vtmn-base-color_blue200--s: 61.2%;
  --vtmn-base-color_blue200--l: 68.6%;
  --vtmn-base-color_blue200: hsl(
    --vtmn-base-color_blue200--h,
    --vtmn-base-color_blue200--s,
    --vtmn-base-color_blue200--l
  );
  --vtmn-base-color_blue300--h: 201;
  --vtmn-base-color_blue300--s: 58.4%;
  --vtmn-base-color_blue300--l: 52%;
  --vtmn-base-color_blue300: hsl(
    --vtmn-base-color_blue300--h,
    --vtmn-base-color_blue300--s,
    --vtmn-base-color_blue300--l
  );
  --vtmn-base-color_blue400--h: 200;
  --vtmn-base-color_blue400--s: 100%;
  --vtmn-base-color_blue400--l: 36.9%;
  --vtmn-base-color_blue400: hsl(
    --vtmn-base-color_blue400--h,
    --vtmn-base-color_blue400--s,
    --vtmn-base-color_blue400--l
  );
  --vtmn-base-color_blue500--h: 200;
  --vtmn-base-color_blue500--s: 100%;
  --vtmn-base-color_blue500--l: 30.8%;
  --vtmn-base-color_blue500: hsl(
    --vtmn-base-color_blue500--h,
    --vtmn-base-color_blue500--s,
    --vtmn-base-color_blue500--l
  );
  --vtmn-base-color_blue600--h: 200;
  --vtmn-base-color_blue600--s: 100%;
  --vtmn-base-color_blue600--l: 24.5%;
  --vtmn-base-color_blue600: hsl(
    --vtmn-base-color_blue600--h,
    --vtmn-base-color_blue600--s,
    --vtmn-base-color_blue600--l
  );
  --vtmn-base-color_blue700--h: 205;
  --vtmn-base-color_blue700--s: 97.3%;
  --vtmn-base-color_blue700--l: 14.5%;
  --vtmn-base-color_blue700: hsl(
    --vtmn-base-color_blue700--h,
    --vtmn-base-color_blue700--s,
    --vtmn-base-color_blue700--l
  );
}

/* DEPRECATED (no longer maintained) */
:root {
  --vtmn-color_black: #001018;
  --vtmn-color_brand: #0082c3;
  --vtmn-color_brand-pro: #012b49;
  --vtmn-color_brand-digital: #007dbc;
  --vtmn-color_brand-digital-dark-1: #00689d;
  --vtmn-color_brand-digital-dark-2: #00537d;
  --vtmn-color_brand-digital-light-1: #7ebee0;
  --vtmn-color_brand-digital-light-2: #bedeef;
  --vtmn-color_brand-digital-light-3: #e7f3f9;
  --vtmn-color_green: #02be8a;
  --vtmn-color_green-dark-1: #029e73;
  --vtmn-color_green-dark-2: #017f5c;
  --vtmn-color_green-light-1: #7cdfc4;
  --vtmn-color_green-light-2: #beefe2;
  --vtmn-color_green-light-3: #e4f9f3;
  --vtmn-color_grey: #687787;
  --vtmn-color_grey-dark-1: #4e5d6b;
  --vtmn-color_grey-dark-2: #344450;
  --vtmn-color_grey-dark-3: #1a2a34;
  --vtmn-color_grey-light-1: #b3bac3;
  --vtmn-color_grey-light-2: #d9dde1;
  --vtmn-color_grey-light-3: #eff1f3;
  --vtmn-color_grey-light-4: #f7f8f9;
  --vtmn-color_orange: #fe5800;
  --vtmn-color_orange-light-1: #feab7b;
  --vtmn-color_orange-light-2: #fed5bd;
  --vtmn-color_red: #ee000c;
  --vtmn-color_red-light-1: #ed8b8f;
  --vtmn-color_red-light-2: #f5c7c9;
  --vtmn-color_white: #fff;
  --vtmn-color_blue-light-1: #f2f9fc;
  --vtmn-color_blue-light-2: #d9ecf5;
  --vtmn-color_blue-light-3: #deeff7;
  --vtmn-color_blue-light-4: #cde6f2;
  --vtmn-color_yellow: #ffea28;
  --vtmn-color_yellow-light-1: #fff58d;
  --vtmn-color_yellow-light-2: #fffbc7;
  --vtmn-color_success: #23a942;
  --vtmn-color_info: #007dbc;
  --vtmn-color_warning: #ff600a;
  --vtmn-color_danger: #e32c26;
}
