:root {
  --vtmn-shadow_100: rem(0) rem(6px) rem(6px) rem(0)
    var(--vtmn-semantic-color_shadow);
  --vtmn-shadow_200: rem(0) rem(12px) rem(12px) rem(0)
    var(--vtmn-semantic-color_shadow);
  --vtmn-shadow_300: rem(0) rem(24px) rem(24px) rem(0)
    var(--vtmn-semantic-color_shadow);
  --vtmn-shadow_400: rem(0) rem(48px) rem(48px) rem(0)
    var(--vtmn-semantic-color_shadow);
  --vtmn-shadow_focus-visible: 0 0 0 rem(4px)
      var(--vtmn-semantic-color_border-primary),
    0 0 0 rem(6px) var(--vtmn-semantic-color_border-primary-reversed);
}
