/**
 * @tokens Font Families
 * @presenter FontFamily
 */
:root {
  --vtmn-typo_font-family: 'Roboto', 'system-ui', '-apple-system', sans-serif;
  --vtmn-typo_font-family--condensed: 'Roboto Condensed', 'system-ui',
    '-apple-system', sans-serif;
}

/**
 * @tokens Font Weights
 * @presenter FontWeight
 */
:root {
  --vtmn-typo_font-weight--normal: 400;
  --vtmn-typo_font-weight--bold: 700;
}

/**
 * @tokens Font Sizes
 * @presenter FontSize
 */
:root {
  --vtmn-typo_display-1-font-size: rem(60px);
  --vtmn-typo_display-2-font-size: rem(42px);
  --vtmn-typo_title-1-font-size: rem(40px);
  --vtmn-typo_title-2-font-size: rem(36px);
  --vtmn-typo_title-3-font-size: rem(28px);
  --vtmn-typo_title-4-font-size: rem(24px);
  --vtmn-typo_title-5-font-size: rem(20px);
  --vtmn-typo_text-1-font-size: rem(18px);
  --vtmn-typo_text-2-font-size: rem(16px);
  --vtmn-typo_text-3-font-size: rem(14px);
  --vtmn-typo_caption-1-font-size: rem(12px);
}

/**
 * @tokens Line Heights
 * @presenter LineHeight
 */
:root {
  --vtmn-typo_display-1-line-height: 1;
  --vtmn-typo_display-2-line-height: 1.04;
  --vtmn-typo_title-1-line-height: 1.1;
  --vtmn-typo_title-2-line-height: 1.11;
  --vtmn-typo_title-3-line-height: 1.14;
  --vtmn-typo_title-4-line-height: 1.16;
  --vtmn-typo_title-5-line-height: 1.2;
  --vtmn-typo_text-1-line-height: 1.55;
  --vtmn-typo_text-2-line-height: 1.5;
  --vtmn-typo_text-3-line-height: 1.42;
  --vtmn-typo_caption-1-line-height: 1.34;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  :root {
    --vtmn-typo_display-1-font-size: rem(76px);
    --vtmn-typo_display-2-font-size: rem(48px);
    --vtmn-typo_title-1-font-size: rem(44px);
    --vtmn-typo_title-2-font-size: rem(38px);
    --vtmn-typo_title-3-font-size: rem(30px);
    --vtmn-typo_title-4-font-size: rem(24px);
    --vtmn-typo_title-5-font-size: rem(20px);
  }

  :root {
    --vtmn-typo_display-1-line-height: 1;
    --vtmn-typo_display-2-line-height: 1.08;
    --vtmn-typo_title-1-line-height: 1.09;
    --vtmn-typo_title-2-line-height: 1.15;
    --vtmn-typo_title-3-line-height: 1.2;
    --vtmn-typo_title-4-line-height: 1.16;
    --vtmn-typo_title-5-line-height: 1.2;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  :root {
    --vtmn-typo_display-1-font-size: rem(76px);
    --vtmn-typo_display-2-font-size: rem(48px);
    --vtmn-typo_title-1-font-size: rem(44px);
    --vtmn-typo_title-2-font-size: rem(38px);
    --vtmn-typo_title-3-font-size: rem(30px);
    --vtmn-typo_title-4-font-size: rem(24px);
    --vtmn-typo_title-5-font-size: rem(20px);
  }

  :root {
    --vtmn-typo_display-1-line-height: 1;
    --vtmn-typo_display-2-line-height: 1.06;
    --vtmn-typo_title-1-line-height: 1.08;
    --vtmn-typo_title-2-line-height: 1.1;
    --vtmn-typo_title-3-line-height: 1.12;
    --vtmn-typo_title-4-line-height: 1.23;
    --vtmn-typo_title-5-line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  :root {
    --vtmn-typo_display-1-font-size: rem(96px);
    --vtmn-typo_display-2-font-size: rem(60px);
    --vtmn-typo_title-1-font-size: rem(48px);
    --vtmn-typo_title-2-font-size: rem(40px);
    --vtmn-typo_title-3-font-size: rem(32px);
    --vtmn-typo_title-4-font-size: rem(26px);
    --vtmn-typo_title-5-font-size: rem(20px);
  }

  :root {
    --vtmn-typo_display-1-line-height: 1;
    --vtmn-typo_display-2-line-height: 1.06;
    --vtmn-typo_title-1-line-height: 1.08;
    --vtmn-typo_title-2-line-height: 1.1;
    --vtmn-typo_title-3-line-height: 1.12;
    --vtmn-typo_title-4-line-height: 1.23;
    --vtmn-typo_title-5-line-height: 1.2;
  }
}

@media screen and (min-width: 1800px) {
  :root {
    --vtmn-typo_display-1-font-size: rem(96px);
    --vtmn-typo_display-2-font-size: rem(60px);
    --vtmn-typo_title-1-font-size: rem(48px);
    --vtmn-typo_title-2-font-size: rem(40px);
    --vtmn-typo_title-3-font-size: rem(32px);
    --vtmn-typo_title-4-font-size: rem(26px);
    --vtmn-typo_title-5-font-size: rem(20px);
  }

  :root {
    --vtmn-typo_display-1-line-height: 1;
    --vtmn-typo_display-2-line-height: 1.06;
    --vtmn-typo_title-1-line-height: 1.08;
    --vtmn-typo_title-2-line-height: 1.1;
    --vtmn-typo_title-3-line-height: 1.12;
    --vtmn-typo_title-4-line-height: 1.23;
    --vtmn-typo_title-5-line-height: 1.2;
  }
}

/* DEPRECATED (no longer maintained, use --vtmn-typo_font-weight--normal instead) */
:root {
  --vtmn-typo_font-weight--regular: 400;
}
