/**
 * @tokens Font Families
 * @presenter FontFamily
 */
:root {
  --vtmn-typo_font-family: 'Roboto', 'system-ui', '-apple-system', sans-serif;
  --vtmn-typo_font-family--condensed: 'Roboto Condensed', 'system-ui',
    '-apple-system', sans-serif;
}

/**
 * @tokens Font Weights
 * @presenter FontWeight
 */
:root {
  --vtmn-typo_font-weight--regular: 400;
  --vtmn-typo_font-weight--bold: 700;
}

/**
 * @tokens Font Sizes
 * @presenter FontSize
 */
:root {
  --vtmn-typo_display-1-font-size: 3.75rem;
  --vtmn-typo_display-2-font-size: 2.625rem;
  --vtmn-typo_title-1-font-size: 2.5rem;
  --vtmn-typo_title-2-font-size: 2.25rem;
  --vtmn-typo_title-3-font-size: 1.75rem;
  --vtmn-typo_title-4-font-size: 1.5rem;
  --vtmn-typo_title-5-font-size: 1.25rem;
  --vtmn-typo_text-1-font-size: 1.125rem;
  --vtmn-typo_text-2-font-size: 1rem;
  --vtmn-typo_text-3-font-size: 0.875rem;
}

/**
 * @tokens Line Heights
 * @presenter LineHeight
 */
:root {
  --vtmn-typo_display-1-line-height: 1;
  --vtmn-typo_display-2-line-height: 1.04;
  --vtmn-typo_title-1-line-height: 1.1;
  --vtmn-typo_title-2-line-height: 1.11;
  --vtmn-typo_title-3-line-height: 1.14;
  --vtmn-typo_title-4-line-height: 1.16;
  --vtmn-typo_title-5-line-height: 1.2;
  --vtmn-typo_text-1-line-height: 1.55;
  --vtmn-typo_text-2-line-height: 1.5;
  --vtmn-typo_text-3-line-height: 1.42;
}

@screen tablet {
  :root {
    --vtmn-typo_display-1-font-size: 4.75rem;
    --vtmn-typo_display-2-font-size: 3rem;
    --vtmn-typo_title-1-font-size: 2.75rem;
    --vtmn-typo_title-2-font-size: 2.375rem;
    --vtmn-typo_title-3-font-size: 1.875rem;
    --vtmn-typo_title-4-font-size: 1.5rem;
    --vtmn-typo_title-5-font-size: 1.25rem;
  }

  :root {
    --vtmn-typo_display-1-line-height: 1;
    --vtmn-typo_display-2-line-height: 1.08;
    --vtmn-typo_title-1-line-height: 1.09;
    --vtmn-typo_title-2-line-height: 1.15;
    --vtmn-typo_title-3-line-height: 1.2;
    --vtmn-typo_title-4-line-height: 1.16;
    --vtmn-typo_title-5-line-height: 1.2;
  }
}

@screen small-desktop {
  :root {
    --vtmn-typo_display-1-font-size: 4.75rem;
    --vtmn-typo_display-2-font-size: 3rem;
    --vtmn-typo_title-1-font-size: 2.75rem;
    --vtmn-typo_title-2-font-size: 2.375rem;
    --vtmn-typo_title-3-font-size: 1.875rem;
    --vtmn-typo_title-4-font-size: 1.5rem;
    --vtmn-typo_title-5-font-size: 1.25rem;
  }

  :root {
    --vtmn-typo_display-1-line-height: 1;
    --vtmn-typo_display-2-line-height: 1.06;
    --vtmn-typo_title-1-line-height: 1.08;
    --vtmn-typo_title-2-line-height: 1.1;
    --vtmn-typo_title-3-line-height: 1.12;
    --vtmn-typo_title-4-line-height: 1.23;
    --vtmn-typo_title-5-line-height: 1.2;
  }
}

@screen medium-desktop {
  :root {
    --vtmn-typo_display-1-font-size: 6rem;
    --vtmn-typo_display-2-font-size: 3.75rem;
    --vtmn-typo_title-1-font-size: 3rem;
    --vtmn-typo_title-2-font-size: 2.5rem;
    --vtmn-typo_title-3-font-size: 2rem;
    --vtmn-typo_title-4-font-size: 1.625rem;
    --vtmn-typo_title-5-font-size: 1.25rem;
  }

  :root {
    --vtmn-typo_display-1-line-height: 1;
    --vtmn-typo_display-2-line-height: 1.06;
    --vtmn-typo_title-1-line-height: 1.08;
    --vtmn-typo_title-2-line-height: 1.1;
    --vtmn-typo_title-3-line-height: 1.12;
    --vtmn-typo_title-4-line-height: 1.23;
    --vtmn-typo_title-5-line-height: 1.2;
  }
}

@screen large-desktop {
  :root {
    --vtmn-typo_display-1-font-size: 6rem;
    --vtmn-typo_display-2-font-size: 3.75rem;
    --vtmn-typo_title-1-font-size: 3rem;
    --vtmn-typo_title-2-font-size: 2.5rem;
    --vtmn-typo_title-3-font-size: 2rem;
    --vtmn-typo_title-4-font-size: 1.625rem;
    --vtmn-typo_title-5-font-size: 1.25rem;
  }

  :root {
    --vtmn-typo_display-1-line-height: 1;
    --vtmn-typo_display-2-line-height: 1.06;
    --vtmn-typo_title-1-line-height: 1.08;
    --vtmn-typo_title-2-line-height: 1.1;
    --vtmn-typo_title-3-line-height: 1.12;
    --vtmn-typo_title-4-line-height: 1.23;
    --vtmn-typo_title-5-line-height: 1.2;
  }
}
