@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';

.vtmn-navbar {
  box-sizing: border-box;
  inline-size: 100%;
  block-size: rem(64px);
  background: var(--vtmn-semantic-color_background-primary);
  padding-block: rem(12px);
  padding-inline: rem(16px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vtmn-navbar span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-navbar_left-navigation {
  block-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--vtmn-semantic-color_content-primary);
  fill: var(--vtmn-semantic-color_content-primary);
}

.vtmn-navbar_left-navigation > * {
  block-size: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-inline-end: rem(8px);
}

.vtmn-navbar_logo {
  block-size: 100%;
  margin-inline-end: rem(8px);
  display: flex;
  align-items: center;
}

.vtmn-navbar_logo > * {
  block-size: 100%;
}

.vtmn-navbar_middle-area {
  inline-size: 100%;
  margin-inline-end: rem(8px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.vtmn-navbar_middle-area .vtmn-text-input_container {
  inline-size: 100%;
}

.vtmn-navbar_middle-area .vtmn-text-input_container input {
  min-block-size: 100%;
  inline-size: 100%;
  margin: 0;
}

.vtmn-navbar_middle-area .vtmn-text-input_container span[class^='vtmx-'],
.vtmn-navbar_middle-area .vtmn-text-input_container svg {
  position: absolute;
  inset-block-start: 0;
  inset-block-end: initial;
  transform: translate(0, 50%);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-navbar_right-navigation {
  block-size: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  min-inline-size: fit-content;
  align-items: center;
  margin-inline-start: rem(4px);
  color: var(--vtmn-semantic-color_content-primary);
  fill: var(--vtmn-semantic-color_content-primary);
}

.vtmn-navbar_right-navigation > * {
  block-size: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-inline-size: fit-content;
}
