@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/animations';
@import '@vtmn/css-design-tokens/src/shadows';
@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';

.vtmn-popover {
  position: relative;
  cursor: pointer;
}

.vtmn-popover > [role='tooltip'] > .vtmn-popover_title {
  margin: rem(4px) 0;
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--bold);
  font-size: var(--vtmn-typo_text-2-font-size);
  line-height: var(--vtmn-typo_text-2-line-height);
  align-self: flex-start;
}

.vtmn-popover > [role='tooltip'] > .vtmn-popover_text {
  margin: rem(8px) 0;
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--regular);
  font-size: var(--vtmn-typo_text-3-font-size);
  line-height: rem(20px);
  align-self: flex-start;
  text-align: left;
}

.vtmn-popover > [role='tooltip'] > button {
  margin: 0;
  align-self: flex-end;
}

/* ALL POPOVER */
.vtmn-popover > [role='tooltip'] {
  z-index: 1000;
  min-width: rem(250px);
  width: auto;
  box-shadow: var(--vtmn-shadow_200);
  border-radius: rem(8px);
  background-color: var(--vtmn-semantic-color_background-primary-reversed);
  color: var(--vtmn-semantic-color_content-primary-reversed);
  display: none;
  position: absolute;
  padding: rem(16px);
  animation: var(--vtmn-animation_fade-in);
}

.vtmn-popover > [role='tooltip']::after {
  z-index: 1000;
  border-radius: 0;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  box-shadow: none;
}

.vtmn-popover:focus-within > [role='tooltip'] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: auto;
}

.vtmn-popover:focus-visible {
  outline: none;
  box-shadow: 0 0 0 rem(4px) var(--vtmn-semantic-color_border-primary-reversed),
    0 0 0 rem(6px) var(--vtmn-semantic-color_border-primary);
}

/* POSITION: TOP */
.vtmn-popover[data-position^='top'] > [role='tooltip'] {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -1.5em);
}

.vtmn-popover[data-position^='top'] > [role='tooltip']::after {
  border-left: solid transparent 0.6em;
  border-right: solid transparent 0.6em;
  border-top: solid var(--vtmn-semantic-color_background-primary-reversed)
    0.65em;
  bottom: -0.6em;
  left: 50%;
  transform: translateX(-50%);
}

/* POSITION: TOP-LEFT */
.vtmn-popover[data-position='top-left'] > [role='tooltip']::after {
  left: 90%;
}

.vtmn-popover[data-position='top-left'] > [role='tooltip'] {
  transform: translate(-90%, -1.5em);
}

/* POSITION: TOP-RIGHT */
.vtmn-popover[data-position='top-right'] > [role='tooltip']::after {
  left: 10%;
}

.vtmn-popover[data-position='top-right'] > [role='tooltip'] {
  transform: translate(-10%, -1.5em);
}

/* POSITION: BOTTOM */
.vtmn-popover[data-position^='bottom'] > [role='tooltip'] {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 120%);
}

.vtmn-popover[data-position^='bottom'] > [role='tooltip']::after {
  border-left: solid transparent 0.6em;
  border-right: solid transparent 0.6em;
  border-bottom: solid var(--vtmn-semantic-color_background-primary-reversed)
    0.65em;
  top: -0.6em;
  left: 50%;
  transform: translateX(-50%);
}

/* POSITION: BOTTOM-LEFT */
.vtmn-popover[data-position='bottom-left'] > [role='tooltip']::after {
  left: 90%;
}

.vtmn-popover[data-position='bottom-left'] > [role='tooltip'] {
  transform: translate(-90%, 120%);
}

/* POSITION: BOTTOM-RIGHT */
.vtmn-popover[data-position='bottom-right'] > [role='tooltip']::after {
  left: 10%;
}

.vtmn-popover[data-position='bottom-right'] > [role='tooltip'] {
  transform: translate(-10%, 120%);
}

/* POSITION: LEFT */
.vtmn-popover[data-position='left'] > [role='tooltip'] {
  transform: translate(-100%, -50%);
  left: -1.5em;
}

.vtmn-popover[data-position='left'] > [role='tooltip']::after {
  border-top: solid transparent 0.6em;
  border-bottom: solid transparent 0.6em;
  border-left: solid var(--vtmn-semantic-color_background-primary-reversed)
    0.65em;
  right: -0.6em;
  bottom: 50%;
}

/* POSITION: RIGHT */
.vtmn-popover[data-position='right'] > [role='tooltip'] {
  transform: translate(100%, -50%);
  right: -1.5em;
}

.vtmn-popover[data-position='right'] > [role='tooltip']::after {
  border-top: solid transparent 0.6em;
  border-bottom: solid transparent 0.6em;
  border-right: solid var(--vtmn-semantic-color_background-primary-reversed)
    0.65em;
  left: -0.6em;
  bottom: 50%;
}
