/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';

.vtmn-popover {
  position: relative;
  cursor: pointer;
}

.vtmn-popover_title {
  margin: rem(4px) 0;
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--bold);
  font-size: var(--vtmn-typo_text-2-font-size);
  line-height: var(--vtmn-typo_text-2-line-height);
  align-self: flex-start;
}

.vtmn-popover_text {
  margin: rem(8px) 0;
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--regular);
  font-size: var(--vtmn-typo_text-3-font-size);
  line-height: rem(20px);
  align-self: flex-start;
  text-align: left;
}

.vtmn-popover button {
  margin: 0;
  align-self: flex-end;
}

/* ALL POPOVER */
.vtmn-popover [role='tooltip'] {
  z-index: 1000;
  min-width: rem(250px);
  width: auto;
  box-shadow: 0 rem(16px) rem(16px) 0 rgba(0, 0, 0, 0.28);
  border-radius: rem(8px);
  background: var(--vtmn-color_black);
  color: var(--vtmn-color_white);
  display: none;
  position: absolute;
  padding: rem(16px);
}

.vtmn-popover [role='tooltip']::after {
  z-index: 1000;
  border-radius: 0;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  box-shadow: none;
}

.vtmn-popover:hover [role='tooltip'],
.vtmn-popover:focus [role='tooltip'] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: auto;
}

/* POSITION: TOP */
.vtmn-popover[data-position^='top'] [role='tooltip'] {
  bottom: 100%;
  left: 50%;
}

.vtmn-popover[data-position^='top'] [role='tooltip']::after {
  border-left: solid transparent 0.6em;
  border-right: solid transparent 0.6em;
  border-top: solid var(--vtmn-color_black) 0.65em;
  bottom: -0.6em;
  left: 50%;
  transform: translateX(-50%);
}

.vtmn-popover[data-position='top']:hover [role='tooltip'],
.vtmn-popover[data-position='top']:focus [role='tooltip'] {
  transform: translate(-50%, -1.5em);
}

/* POSITION: TOP-LEFT */
.vtmn-popover[data-position='top-left'] [role='tooltip']::after {
  left: 90%;
}

.vtmn-popover[data-position='top-left']:hover [role='tooltip'],
.vtmn-popover[data-position='top-left']:focus [role='tooltip'] {
  transform: translate(-90%, -1.5em);
}

/* POSITION: TOP-RIGHT */
.vtmn-popover[data-position='top-right'] [role='tooltip']::after {
  left: 10%;
}

.vtmn-popover[data-position='top-right']:hover [role='tooltip'],
.vtmn-popover[data-position='top-right']:focus [role='tooltip'] {
  transform: translate(-10%, -1.5em);
}

/* POSITION: BOTTOM */
.vtmn-popover[data-position^='bottom'] [role='tooltip'] {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 115%);
}

.vtmn-popover[data-position^='bottom'] [role='tooltip']::after {
  border-left: solid transparent 0.6em;
  border-right: solid transparent 0.6em;
  border-bottom: solid var(--vtmn-color_black) 0.65em;
  top: -0.6em;
  left: 50%;
  transform: translateX(-50%);
}

.vtmn-popover[data-position='bottom']:hover [role='tooltip'],
.vtmn-popover[data-position='bottom']:focus [role='tooltip'] {
  transform: translate(-50%, 115%);
}

/* POSITION: BOTTOM-LEFT */
.vtmn-popover[data-position='bottom-left'] [role='tooltip']::after {
  left: 90%;
}

.vtmn-popover[data-position='bottom-left']:hover [role='tooltip'],
.vtmn-popover[data-position='bottom-left']:focus [role='tooltip'] {
  transform: translate(-90%, 115%);
}

/* POSITION: BOTTOM-RIGHT */
.vtmn-popover[data-position='bottom-right'] [role='tooltip']::after {
  left: 10%;
}

.vtmn-popover[data-position='bottom-right']:hover [role='tooltip'],
.vtmn-popover[data-position='bottom-right']:focus [role='tooltip'] {
  transform: translate(-10%, 115%);
}

/* POSITION: LEFT */
.vtmn-popover[data-position='left'] [role='tooltip'] {
  transform: translate(-100%, -50%);
}

.vtmn-popover[data-position='left'] [role='tooltip']::after {
  border-top: solid transparent 0.6em;
  border-bottom: solid transparent 0.6em;
  border-left: solid var(--vtmn-color_black) 0.65em;
  right: -0.6em;
  bottom: 50%;
}

.vtmn-popover[data-position='left']:hover [role='tooltip'],
.vtmn-popover[data-position='left']:focus [role='tooltip'] {
  left: -1.5em;
}

/* POSITION: RIGHT */
.vtmn-popover[data-position='right'] [role='tooltip'] {
  transform: translate(100%, -50%);
}

.vtmn-popover[data-position='right'] [role='tooltip']::after {
  border-top: solid transparent 0.6em;
  border-bottom: solid transparent 0.6em;
  border-right: solid var(--vtmn-color_black) 0.65em;
  left: -0.6em;
  bottom: 50%;
}

.vtmn-popover[data-position='right']:hover [role='tooltip'],
.vtmn-popover[data-position='right']:focus-within [role='tooltip'] {
  right: -1.5em;
}

/* ANIMATION */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.vtmn-popover:not(:focus-within):not(:active):hover [role='tooltip'] {
  animation: fade 200ms ease-in-out forwards;
}
