/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';

.vtmn-popover {
  background: #ececec;
  color: #555;
  cursor: help;
  font-family: var(--vtmn-typo_font-family);
  position: absolute;
  text-align: center;
  font-size: 1.2em;
  padding: 15px 20px;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translateZ(0) translateX(-50%) translateY(-50%);
  -webkit-font-smoothing: antialiased;
}

.vtmn-popover [role='tooltip'] {
  bottom: 100%;
  left: 50%;
  opacity: 0;
  padding: rem(16px);
  width: max-content;
  max-width: rem(250px);
  transform: translate(-50%, rem(10px));
  box-shadow: 0 rem(16px) rem(16px) 0 rgba(0, 0, 0, 0.28);
  pointer-events: none;
  position: absolute;
  background: var(--vtmn-color_black);
  color: var(--vtmn-color_white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vtmn-popover_title {
  margin: rem(4px) 0;
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--bold);
  font-size: var(--vtmn-typo_text-2-font-size);
  line-height: var(--vtmn-typo_text-2-line-height);
  align-self: flex-start;
}

.vtmn-popover_text {
  margin: rem(8px) 0;
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--regular);
  font-size: var(--vtmn-typo_text-3-font-size);
  line-height: var(--vtmn-typo_text-3-line-height);
  align-self: flex-start;
  text-align: left;
}

.vtmn-popover button {
  margin: rem(8px) 0;
  align-self: flex-end;
}

.vtmn-popover [role='tooltip']::before {
  bottom: -1.2em;
  height: 1.2em;
  left: 0;
  width: 100%;
  position: absolute;
  content: ' ';
  display: block;
}

.vtmn-popover [role='tooltip']::after {
  border-left: solid transparent 0.8em;
  border-right: solid transparent 0.8em;
  border-top: solid var(--vtmn-color_black) 0.8em;
  bottom: -0.8em;
  content: ' ';
  height: 0;
  left: 50%;
  margin-left: -13px;
  width: 0;
  position: absolute;
}

.vtmn-popover:hover [role='tooltip'],
.vtmn-popover:focus [role='tooltip'] {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 0);
}

/*
.vtmn-popover {
  position: relative;
}

/* Applies to all popovers 
.vtmn-popover::before,
.vtmn-popover::after {
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-3-font-size);
  font-weight: var(--vtmn-typo_font-weight--regular);
  line-height: var(--vtmn-typo_text-3-line-height);
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 1;
  cursor: help;
}
.vtmn-popover::before {
  content: '';
  border: rem(8px) solid transparent;
  z-index: 1000;
}
.vtmn-popover::after {
  content: attr(data-popover);
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: rem(8px) rem(12px);
  height: rem(36px);
  border-radius: rem(4px);
  background-color: var(--vtmn-color_black);
  color: var(--vtmn-color_white);
  z-index: 99;
}

/* Make the popovers respond to hover 
.vtmn-popover:hover::before,
.vtmn-popover:hover::after,
.vtmn-popover:focus-visible::before,
.vtmn-popover:focus-visible::after {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* don't show empty popovers 
.vtmn-popover[data-popover='']::before,
.vtmn-popover[data-popover='']::after {
  display: none !important;
}

/* DIRECTION: TOP 
.vtmn-popover:not([data-position])::before,
.vtmn-popover[data-position^='top']::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--vtmn-color_black);
}
.vtmn-popover:not([data-position])::after,
.vtmn-popover[data-position^='top']::after {
  bottom: calc(100% + rem(7px));
}
.vtmn-popover:not([data-position])::before,
.vtmn-popover:not([data-position])::after,
.vtmn-popover[data-position^='top']::before,
.vtmn-popover[data-position^='top']::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* DIRECTION: TOP-LEFT 
.vtmn-popover:not([data-position])::after,
.vtmn-popover[data-position='top-left']::after {
  transform: translate(-75%, -0.5em);
}

/* DIRECTION: TOP-RIGHT 
.vtmn-popover:not([data-position])::after,
.vtmn-popover[data-position='top-right']::after {
  transform: translate(-25%, -0.5em);
}

/* DIRECTION: BOTTOM 
.vtmn-popover[data-position^='bottom']::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: var(--vtmn-color_black);
}
.vtmn-popover[data-position^='bottom']::after {
  top: calc(100% + rem(7px));
}
.vtmn-popover[data-position^='bottom']::before,
.vtmn-popover[data-position^='bottom']::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* DIRECTION: BOTTOM-LEFT 
.vtmn-popover[data-position='bottom-left']::after {
  transform: translate(-75%, 0.5em);
}

/* DIRECTION: BOTTOM-RIGHT 
.vtmn-popover[data-position='bottom-right']::after {
  transform: translate(-25%, 0.5em);
}

/* DIRECTION: LEFT 
.vtmn-popover[data-position^='left']::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: var(--vtmn-color_black);
  left: calc(0em - rem(8px));
  transform: translate(-0.5em, -50%);
}
.vtmn-popover[data-position^='left']::after {
  top: 50%;
  right: calc(100% + rem(7px));
  transform: translate(-0.5em, -50%);
}

/* DIRECTION: RIGHT 
.vtmn-popover[data-position^='right']::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: var(--vtmn-color_black);
  right: calc(0em - rem(8px));
  transform: translate(0.5em, -50%);
}
.vtmn-popover[data-position^='right']::after {
  top: 50%;
  left: calc(100% + rem(7px));
  transform: translate(0.5em, -50%);
}
*/
