@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/shadows';

.vtmn-tag {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: rem(24px);
  height: rem(24px);
  width: fit-content;
  padding: rem(2px) var(--vtmn-spacing_2);
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-3-font-size);
  font-weight: var(--vtmn-typo_font-weight--normal);
  color: var(--vtmn-semantic-color_content-accent);
  background-color: var(--vtmn-semantic-color_background-accent);
  text-align: center;
  border-radius: rem(4px);
  text-decoration: none;
  outline: 0;
}

a.vtmn-tag:focus-visible {
  box-shadow: var(--vtmn-shadow_focus-visible);
  transition: box-shadow 200ms ease-out;
}

/* Variants */
.vtmn-tag_variant--accent {
  background-color: var(--vtmn-semantic-color_background-accent);
  color: var(--vtmn-semantic-color_content-accent);
}

.vtmn-tag_variant--brand {
  background-color: var(--vtmn-semantic-color_background-brand-primary);
  color: var(--vtmn-semantic-color_content-primary-reversed);
}

.vtmn-tag_variant--alert {
  background-color: var(--vtmn-semantic-color_background-alert);
  color: var(--vtmn-semantic-color_content-primary-reversed);
}

/* Decoratives */
.vtmn-tag_variant--decorative_gravel {
  background-color: var(--vtmn-semantic-color_decorative-gravel);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-tag_variant--decorative_gold {
  background-color: var(--vtmn-semantic-color_decorative-gold);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-tag_variant--decorative_cobalt {
  background-color: var(--vtmn-semantic-color_decorative-cobalt);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-tag_variant--decorative_brick {
  background-color: var(--vtmn-semantic-color_decorative-brick);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-tag_variant--decorative_jade {
  background-color: var(--vtmn-semantic-color_decorative-jade);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-tag_variant--decorative_amethyst {
  background-color: var(--vtmn-semantic-color_decorative-amethyst);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-tag_variant--decorative_saffron {
  background-color: var(--vtmn-semantic-color_decorative-saffron);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-tag_variant--decorative_emerald {
  background-color: var(--vtmn-semantic-color_decorative-emerald);
  color: var(--vtmn-semantic-color_content-primary);
}
