@import '@vtmn/css-design-tokens/src/base-colors';
@import '@vtmn/css-design-tokens/src/themes/default';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';
@import '@vtmn/css-design-tokens/src/shadows';
@import '@vtmn/css-design-tokens/src/animations';

.vtmn-snackbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: rem(8px) rem(16px);
  height: rem(48px);
  max-width: fit-content;
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-2-font-size);
  line-height: var(--vtmn-typo_text-2-line-height);
  color: var(--vtmn-semantic-color_content-primary-reversed);
  background-color: var(--vtmn-semantic-color_background-primary-reversed);
  box-shadow: var(--vtmn-shadow_200);
  border-radius: rem(4px);
  animation: var(--vtmn-animation_show-up);
}

.vtmn-snackbar > button {
  margin-left: rem(16px);
}

.vtmn-snackbar > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
