/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/shadows';

.vtmn-tooltip {
  position: relative;
}

/* Applies to all tooltips */
.vtmn-tooltip::before,
.vtmn-tooltip::after {
  font-family: var(--vtmn-typo_font-family);
  font-size: var(--vtmn-typo_text-3-font-size);
  font-weight: var(--vtmn-typo_font-weight--regular);
  line-height: var(--vtmn-typo_text-3-line-height);
  box-shadow: var(--vtmn-shadow_200);
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 1;
  cursor: help;
}
.vtmn-tooltip::before {
  content: '';
  border: rem(8px) solid transparent;
  z-index: 1000;
}
.vtmn-tooltip::after {
  content: attr(data-tooltip);
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: rem(8px) rem(12px);
  height: rem(36px);
  border-radius: rem(4px);
  background-color: var(--vtmn-color_black);
  color: var(--vtmn-color_white);
  z-index: 99;
}

/* Make the tooltips respond to hover */
.vtmn-tooltip:hover::before,
.vtmn-tooltip:hover::after,
.vtmn-tooltip:focus-visible::before,
.vtmn-tooltip:focus-visible::after {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* don't show empty tooltips */
.vtmn-tooltip[data-tooltip='']::before,
.vtmn-tooltip[data-tooltip='']::after {
  display: none !important;
}

/* DIRECTION: TOP */
.vtmn-tooltip:not([data-position])::before,
.vtmn-tooltip[data-position^='top']::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--vtmn-color_black);
}
.vtmn-tooltip:not([data-position])::after,
.vtmn-tooltip[data-position^='top']::after {
  bottom: calc(100% + rem(7px));
}
.vtmn-tooltip:not([data-position])::before,
.vtmn-tooltip:not([data-position])::after,
.vtmn-tooltip[data-position^='top']::before,
.vtmn-tooltip[data-position^='top']::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* DIRECTION: TOP-LEFT */
.vtmn-tooltip:not([data-position])::after,
.vtmn-tooltip[data-position='top-left']::after {
  transform: translate(-75%, -0.5em);
}

/* DIRECTION: TOP-RIGHT */
.vtmn-tooltip:not([data-position])::after,
.vtmn-tooltip[data-position='top-right']::after {
  transform: translate(-25%, -0.5em);
}

/* DIRECTION: BOTTOM */
.vtmn-tooltip[data-position^='bottom']::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: var(--vtmn-color_black);
}
.vtmn-tooltip[data-position^='bottom']::after {
  top: calc(100% + rem(7px));
}
.vtmn-tooltip[data-position^='bottom']::before,
.vtmn-tooltip[data-position^='bottom']::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* DIRECTION: BOTTOM-LEFT */
.vtmn-tooltip[data-position='bottom-left']::after {
  transform: translate(-75%, 0.5em);
}

/* DIRECTION: BOTTOM-RIGHT */
.vtmn-tooltip[data-position='bottom-right']::after {
  transform: translate(-25%, 0.5em);
}

/* DIRECTION: LEFT */
.vtmn-tooltip[data-position^='left']::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: var(--vtmn-color_black);
  left: calc(0em - rem(8px));
  transform: translate(-0.5em, -50%);
}
.vtmn-tooltip[data-position^='left']::after {
  top: 50%;
  right: calc(100% + rem(7px));
  transform: translate(-0.5em, -50%);
}

/* DIRECTION: RIGHT */
.vtmn-tooltip[data-position^='right']::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: var(--vtmn-color_black);
  right: calc(0em - rem(8px));
  transform: translate(0.5em, -50%);
}
.vtmn-tooltip[data-position^='right']::after {
  top: 50%;
  left: calc(100% + rem(7px));
  transform: translate(0.5em, -50%);
}
