/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';

@layer components {
  /* Default button */

  .vtmn-btn {
    box-shadow: inset 0 0 0 0.125rem transparent;
    min-width: calc(6 * 1rem);
    letter-spacing: 0.0375rem;
    font-size: 1rem;
    padding: 0.875rem 1.5rem;
    white-space: no-wrap;

    @apply vtmn-bg-brand-digital
      vtmn-font-condensed
      vtmn-text-white
      vtmn-font-bold
      vtmn-relative
      vtmn-inline-flex
      vtmn-no-underline
      vtmn-rounded
      vtmn-border-0
      vtmn-box-border
      vtmn-overflow-hidden
      vtmn-text-center
      vtmn-items-center
      vtmn-justify-center

      disabled:vtmn-opacity-25
      disabled:vtmn-cursor-not-allowed

      hover:vtmn-cursor-pointer
      hover:vtmn-bg-brand-digital-dark-1

      active:vtmn-bg-brand-digital-dark-2;
  }

  .vtmn-btn:not([disabled]):focus {
    outline: none;
    box-shadow: inset 0 0 0 0.125rem transparent,
      0 0 0 0.125rem var(--vtmn-color_brand-digital-light-1);
  }

  /* Primary button */
  .vtmn-btn_variant--primary {
    box-shadow: inset 0 0 0 0.125rem transparent;

    @apply vtmn-bg-brand-digital
      vtmn-text-white
      hover:vtmn-bg-brand-digital-dark-1
      active:vtmn-bg-brand-digital-dark-2;
  }

  .vtmn-btn_variant--primary:not([disabled]):focus {
    box-shadow: inset 0 0 0 0.125rem transparent,
      0 0 0 0.125rem var(--vtmn-color_brand-digital-light-1);
  }

  /* Primary reversed button */
  .vtmn-btn_variant--primary-reversed {
    box-shadow: inset 0 0 0 0.125rem transparent;

    @apply vtmn-bg-white
      vtmn-text-black;
  }

  .vtmn-btn_variant--primary-reversed:not([disabled]):hover {
    background-color: color-mod(var(--vtmn-color_white) alpha(80%));
  }

  .vtmn-btn_variant--primary-reversed:not([disabled]):active {
    background-color: color-mod(var(--vtmn-color_white) alpha(60%));
  }

  .vtmn-btn_variant--primary-reversed:not([disabled]):focus {
    box-shadow: inset 0 0 0 0.125rem transparent,
      0 0 0 0.125rem var(--vtmn-color_brand-digital-light-1);
  }

  /* Secondary button */
  .vtmn-btn_variant--secondary {
    background-color: transparent;
    box-shadow: inset 0 0 0 0.125rem var(--vtmn-color_black);

    @apply vtmn-text-black;
  }

  .vtmn-btn_variant--secondary:not([disabled]):hover {
    background-color: color-mod(var(--vtmn-color_grey-dark-2) alpha(5%));
  }

  .vtmn-btn_variant--secondary:not([disabled]):active {
    background-color: color-mod(var(--vtmn-color_grey-dark-2) alpha(15%));
  }

  .vtmn-btn_variant--secondary:not([disabled]):focus {
    box-shadow: inset 0 0 0 0.125rem var(--vtmn-color_black),
      0 0 0 0.125rem var(--vtmn-color_brand-digital-light-1);
  }

  /* Secondary reversed button */
  .vtmn-btn_variant--secondary-reversed {
    background-color: transparent;
    box-shadow: inset 0 0 0 0.125rem var(--vtmn-color_white);

    @apply vtmn-text-white;
  }

  .vtmn-btn_variant--secondary-reversed:not([disabled]):hover {
    background-color: color-mod(var(--vtmn-color_white) alpha(20%));
  }

  .vtmn-btn_variant--secondary-reversed:not([disabled]):active {
    background-color: color-mod(var(--vtmn-color_white) alpha(40%));
  }

  .vtmn-btn_variant--secondary-reversed:not([disabled]):focus {
    box-shadow: inset 0 0 0 0.125rem var(--vtmn-color_white),
      0 0 0 0.125rem var(--vtmn-color_brand-digital-light-1);
  }

  /* Ghost button */
  .vtmn-btn_variant--ghost {
    background-color: transparent;
    box-shadow: inset 0 0 0 0.125rem transparent;

    @apply vtmn-text-brand-digital;
  }

  .vtmn-btn_variant--ghost:not([disabled]):hover {
    background-color: color-mod(
      var(--vtmn-color_brand-digital-dark-2) alpha(5%)
    );
  }

  .vtmn-btn_variant--ghost:not([disabled]):active {
    background-color: color-mod(
      var(--vtmn-color_brand-digital-dark-2) alpha(15%)
    );
  }

  .vtmn-btn_variant--ghost:not([disabled]):focus {
    box-shadow: inset 0 0 0 0.125rem transparent,
      0 0 0 0.125rem var(--vtmn-color_brand-digital-light-1);
  }

  /* Conversion button */
  .vtmn-btn_variant--conversion {
    box-shadow: inset 0 0 0 0.125rem transparent;

    @apply vtmn-bg-yellow
      vtmn-text-black
      hover:vtmn-bg-yellow-light-1
      active:vtmn-bg-yellow-light-2;
  }

  .vtmn-btn_variant--conversion:not([disabled]):focus {
    box-shadow: inset 0 0 0 0.125rem transparent,
      0 0 0 0.125rem var(--vtmn-color_brand-digital-light-1);
  }

  /* Sizes */
  .vtmn-btn_size--small {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
  }

  .vtmn-btn_size--medium,
  .vtmn-btn_size--stretched {
    font-size: 1rem;
    padding: 0.875rem 1.5rem;
  }

  .vtmn-btn_size--large {
    font-size: 1.25rem;
    padding: 1.25rem 2.5rem;
  }

  .vtmn-btn_size--stretched {
    font-size: 1rem;

    @apply vtmn-w-full;
  }
}
