/* Design tokens */
@import '@vtmn/css-design-tokens/src/colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/opacities';

/* Default button */
.vtmn-btn {
  box-shadow: inset 0 0 0 rem(2px) transparent;
  font-size: var(--vtmn-typo_text-2-font-size);
  min-height: rem(48px);
  max-width: 100%;
  padding: rem(14px) rem(24px);
  line-height: 1.25;
  letter-spacing: rem(0.5px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--vtmn-color_brand-digital);
  border-radius: rem(4px);
  display: inline-block;
  font-family: var(--vtmn-typo_font-family);
  font-weight: var(--vtmn-typo_font-weight--bold);
  position: relative;
  text-align: center;
  color: var(--vtmn-color_white);
  fill: var(--vtmn-color_white);
}

.vtmn-btn:not([disabled]):hover {
  background-color: var(--vtmn-color_brand-digital-dark-1);
  cursor: pointer;
}

.vtmn-btn:not([disabled]):active {
  background-color: var(--vtmn-color_brand-digital-dark-2);
}

.vtmn-btn:disabled {
  cursor: not-allowed;
  opacity: var(--vtmn-state_disabled_opacity);
}

.vtmn-btn:not([disabled]):focus-visible {
  outline: none;
  box-shadow: 0 0 0 rem(4px) var(--vtmn-color_white),
    0 0 0 rem(6px) var(--vtmn-color_black);
}

.vtmn-btn:not([disabled]) {
  outline: none;
}

.vtmn-btn svg {
  display: inline-block;
  vertical-align: text-top;
}

.vtmn-btn span[class^='vtmx-'] {
  display: inline-block;
}

/* Primary button */
.vtmn-btn_variant--primary {
  box-shadow: inset 0 0 0 rem(2px) transparent;
  background-color: var(--vtmn-color_brand-digital);
  color: var(--vtmn-color_white);
  fill: var(--vtmn-color_white);
}

.vtmn-btn_variant--primary:not([disabled]):hover {
  background-color: var(--vtmn-color_brand-digital-dark-1);
}

.vtmn-btn_variant--primary:not([disabled]):active {
  background-color: var(--vtmn-color_brand-digital-dark-2);
}

/* Primary reversed button */
.vtmn-btn_variant--primary-reversed {
  box-shadow: inset 0 0 0 rem(2px) transparent;
  background-color: var(--vtmn-color_white);
  color: var(--vtmn-color_black);
  fill: var(--vtmn-color_black);
}

.vtmn-btn_variant--primary-reversed:not([disabled]):hover {
  background-color: color-mod(var(--vtmn-color_white) alpha(80%));
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-color_white);
}

.vtmn-btn_variant--primary-reversed:not([disabled]):active {
  background-color: color-mod(var(--vtmn-color_white) alpha(60%));
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-color_white);
}

/* Secondary button */
.vtmn-btn_variant--secondary {
  background-color: var(--vtmn-color_white);
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-color_grey-light-2);
  color: var(--vtmn-color_brand-digital-dark-1);
  fill: var(--vtmn-color_brand-digital-dark-1);
}

.vtmn-btn_variant--secondary:not([disabled]):hover {
  background-color: var(--vtmn-color_blue-light-1);
}

.vtmn-btn_variant--secondary:not([disabled]):active {
  background-color: var(--vtmn-color_blue-light-2);
}

/* Tertiary button */
.vtmn-btn_variant--tertiary {
  background-color: var(--vtmn-color_brand-digital-light-3);
  color: var(--vtmn-color_brand-digital-dark-1);
  fill: var(--vtmn-color_brand-digital-dark-1);
}

.vtmn-btn_variant--tertiary:not([disabled]):hover {
  background-color: var(--vtmn-color_blue-light-3);
}

.vtmn-btn_variant--tertiary:not([disabled]):active {
  background-color: var(--vtmn-color_blue-light-4);
}

/* Conversion button */
.vtmn-btn_variant--conversion {
  box-shadow: inset 0 0 0 rem(2px) transparent;
  background-color: var(--vtmn-color_yellow);
  color: var(--vtmn-color_black);
  fill: var(--vtmn-color_black);
}

.vtmn-btn_variant--conversion:not([disabled]):hover {
  background-color: var(--vtmn-color_yellow-light-1);
}

.vtmn-btn_variant--conversion:not([disabled]):active {
  background-color: var(--vtmn-color_yellow-light-2);
}

/* Ghost button */
.vtmn-btn_variant--ghost {
  background-color: transparent;
  box-shadow: inset 0 0 0 rem(2px) transparent;
  color: var(--vtmn-color_brand-digital);
  fill: var(--vtmn-color_brand-digital);
}

.vtmn-btn_variant--ghost:not([disabled]):hover {
  background-color: var(--vtmn-color_blue-light-1);
}

.vtmn-btn_variant--ghost:not([disabled]):active {
  background-color: var(--vtmn-color_blue-light-2);
}

/* Ghost Reversed button */
.vtmn-btn_variant--ghost-reversed {
  background-color: transparent;
  color: var(--vtmn-color_white);
  fill: var(--vtmn-color_white);
}

.vtmn-btn_variant--ghost-reversed:not([disabled]):hover {
  background-color: color-mod(var(--vtmn-color_white) alpha(0.08));
}

.vtmn-btn_variant--ghost-reversed:not([disabled]):active {
  background-color: color-mod(var(--vtmn-color_white) alpha(0.25));
}

/* Sizes */
.vtmn-btn_size--small {
  font-size: rem(14px);
  padding: rem(8px) rem(16px);
  line-height: calc(16 / 14);
  min-height: rem(32px);
}

.vtmn-btn_size--medium {
  font-size: rem(16px);
  padding: rem(14px) rem(24px);
  line-height: 1.25;
  min-height: rem(48px);
}

.vtmn-btn_size--large {
  font-size: rem(20px);
  padding: rem(20px) rem(40px);
  line-height: 1.2;
  min-height: rem(64px);
}

.vtmn-btn_size--stretched {
  width: 100%;
}

/* Button icons  */
.vtmn-btn--icon-alone {
  width: rem(48px);
  height: rem(48px);
  padding: rem(14px);
}

.vtmn-btn--icon-alone span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_text-2-font-size);
  transform: translateY(rem(2px));
}

.vtmn-btn--icon-alone svg {
  width: rem(16px);
  display: block;
}

.vtmn-btn_size--small svg {
  width: rem(14px);
}

.vtmn-btn_size--medium svg {
  width: rem(16px);
}

.vtmn-btn_size--large svg {
  width: rem(20px);
}

.vtmn-btn_size--small.vtmn-btn--icon-alone {
  width: rem(32px);
  height: rem(32px);
  padding: rem(8px);
}

.vtmn-btn_size--small.vtmn-btn--icon-alone span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_text-3-font-size);
  transform: translateY(rem(2px));
}

.vtmn-btn_size--medium.vtmn-btn--icon-alone {
  width: rem(48px);
  height: rem(48px);
  padding: rem(14px);
}

.vtmn-btn_size--medium.vtmn-btn--icon-alone span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_text-2-font-size);
}

.vtmn-btn_size--large.vtmn-btn--icon-alone {
  width: rem(64px);
  height: rem(64px);
  padding: rem(20px);
}

.vtmn-btn_size--large.vtmn-btn--icon-alone span[class^='vtmx-'] {
  font-size: var(--vtmn-typo_title-5-font-size);
}

.vtmn-btn--icon-left span[class^='vtmx-'] {
  padding-right: rem(8px);
  transform: translateY(rem(2px));
}

.vtmn-btn--icon-right span[class^='vtmx-'] {
  padding-left: rem(8px);
  transform: translateY(rem(2px));
}

.vtmn-btn_size--small.vtmn-btn--icon-left span[class^='vtmx-'] {
  padding-right: rem(6px);
}

.vtmn-btn_size--small.vtmn-btn--icon-right span[class^='vtmx-'] {
  padding-left: rem(6px);
}

.vtmn-btn_size--small.vtmn-btn--icon-left svg {
  margin-right: rem(6px);
}

.vtmn-btn_size--small.vtmn-btn--icon-right svg {
  margin-left: rem(6px);
}

.vtmn-btn_size--medium.vtmn-btn--icon-left span[class^='vtmx-'] {
  padding-right: rem(8px);
}

.vtmn-btn_size--medium.vtmn-btn--icon-right span[class^='vtmx-'] {
  padding-left: rem(8px);
}

.vtmn-btn_size--medium.vtmn-btn--icon-left svg {
  margin-right: rem(8px);
}

.vtmn-btn_size--medium.vtmn-btn--icon-right svg {
  margin-left: rem(8px);
}

.vtmn-btn_size--large.vtmn-btn--icon-left span[class^='vtmx-'] {
  padding-right: rem(12px);
}

.vtmn-btn_size--large.vtmn-btn--icon-right span[class^='vtmx-'] {
  padding-left: rem(12px);
}

.vtmn-btn_size--large.vtmn-btn--icon-left svg {
  margin-right: rem(12px);
}

.vtmn-btn_size--large.vtmn-btn--icon-right svg {
  margin-left: rem(12px);
}

/* DEPRECATED */

/* Secondary reversed button */
.vtmn-btn_variant--secondary-reversed {
  background-color: transparent;
  box-shadow: inset 0 0 0 rem(2px) var(--vtmn-color_white);
  color: var(--vtmn-color_white);
  fill: var(--vtmn-color_white);
}

.vtmn-btn_variant--secondary-reversed:not([disabled]):hover {
  background-color: color-mod(var(--vtmn-color_white) alpha(20%));
}

.vtmn-btn_variant--secondary-reversed:not([disabled]):active {
  background-color: color-mod(var(--vtmn-color_white) alpha(40%));
}
