name: Build Pull Request

on:
  pull_request: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Restore/create node_modules cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        env:
          HUSKY: 0

      - name: Build sources
        run: yarn build

      - name: Build showcases
        run: yarn build-storybook

# Cannot be run on pull_request, and pull_request_event is not safe with checkout.
#  sonarcloud:
#    name: SonarCloud analysis
#    strategy:
#     matrix:
#       project_base_dir:
#         [
#           'packages/sources/assets',
#           'packages/sources/css',
#           'packages/sources/css/src/components/actions/button',
#           'packages/sources/css/src/components/actions/dropdown',
#           'packages/sources/css/src/components/actions/link',
#           'packages/sources/css/src/components/forms/select',
#           'packages/sources/css/src/components/forms/text-input',
#           'packages/sources/css/src/components/indicators/badge',
#           'packages/sources/css/src/components/indicators/loader',
#           'packages/sources/css/src/components/indicators/price',
#           'packages/sources/css/src/components/indicators/progressbar',
#           'packages/sources/css/src/components/indicators/rating',
#           'packages/sources/css/src/components/indicators/tag',
#           'packages/sources/css/src/components/navigation/breadcrumb',
#           'packages/sources/css/src/components/navigation/navbar',
#           'packages/sources/css/src/components/navigation/search',
#           'packages/sources/css/src/components/navigation/tabs',
#           'packages/sources/css/src/components/overlays/alert',
#           'packages/sources/css/src/components/overlays/modal',
#           'packages/sources/css/src/components/overlays/popover',
#           'packages/sources/css/src/components/overlays/snackbar',
#           'packages/sources/css/src/components/overlays/toast',
#           'packages/sources/css/src/components/overlays/tooltip',
#           'packages/sources/css/src/components/selection-controls/checkbox',
#           'packages/sources/css/src/components/selection-controls/chip',
#           'packages/sources/css/src/components/selection-controls/quantity',
#           'packages/sources/css/src/components/selection-controls/radio-button',
#           'packages/sources/css/src/components/selection-controls/toggle',
#           'packages/sources/css/src/components/structure/accordion',
#           'packages/sources/css/src/components/structure/card',
#           'packages/sources/css/src/components/structure/divider',
#           'packages/sources/css/src/components/structure/list',
#           'packages/sources/css/src/components/structure/skeleton',
#           'packages/sources/css/src/design-tokens',
#           'packages/sources/css/src/utilities',
#           'packages/sources/icons',
#           'packages/sources/react',
#           'packages/sources/svelte',
#           'packages/sources/vue',
#         ]
#
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#        with:
#          ref: refs/pull/${{ github.event.number }}/merge
#          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
#      - name: SonarCloud Scan
#        uses: SonarSource/sonarcloud-github-action@master
#        with:
#          projectBaseDir: ${{ matrix.project_base_dir }}
#          args: >
#            -Dsonar.pullrequest.key=${{ github.event.number }}
#            -Dsonar.pullrequest.branch=PR-${{ github.event.number }}
#            -Dsonar.pullrequest.base=${{ github.base_ref }}
#            -Dsonar.scm.revision=${{ github.event.pull_request.head.sha }}
#            -Dsonar.pullrequest.github.repository=${{ github.repository }}
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
