/* Design tokens */
@import '@vtmn/css-design-tokens/src/legacy-colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/shadows';

.wrap {
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color 0.1s ease;
}

.btn:hover {
  background: #357ebd;
}

.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}

.btn-close {
  color: #aaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}

.btn-close:hover {
  color: #919191;
}

.modal::before {
  content: '';
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal:target::before {
  display: block;
}

.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

.modal-dialog {
  background: #fefefe;
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-body {
  padding: 20px;
}

.modal-header,
.modal-footer {
  padding: 10px 20px;
}

.modal-header {
  border-bottom: #eee solid 1px;
}

.modal-header h2 {
  font-size: 20px;
}

.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}

/* .vtmn-modal[open] .vtmn-modal_content-overlay {
  pointer-events: all;
  opacity: 1;
}

.vtmn-modal summary {
  list-style: none;
  cursor: pointer;
  display: inline-block;
}

.vtmn-modal summary:focus {
  outline: none;
}

.vtmn-modal_content {
  background-color: var(--vtmn-color_white);
  border-radius: rem(8px);
  padding: rem(32px);
  font-family: var(--vtmn-typo_font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: rem(600px);
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--vtmn-shadow_200);
  pointer-events: all;
}

.vtmn-modal_content .vtmn-modal_title {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
}

.vtmn-modal_content .vtmn-modal_title_text {
  font-weight: var(--vtmn-typo_font-weight--bold);
  font-size: rem(26px);
  line-height: rem(32px);
  pointer-events: none;
}

.vtmn-modal_content span[class^='vtmx'] {
  font-size: rem(24px);
  color: var(--vtmn-color_black);
  pointer-events: none;
}

.vtmn-modal_content svg {
  width: rem(24px);
  height: rem(24px);
  fill: var(--vtmn-color_black);
  pointer-events: none;
}

.vtmn-modal_body_overflow-indicator {
  position: absolute;
  bottom: 5.5rem;
  left: rem(32px);
  right: rem(32px);
  height: 4rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.8)
  );
  overflow-y: auto;
}

.vtmn-modal_content .vtmn-modal_body {
  margin: rem(16px) 0;
  overflow-y: auto;
}

.vtmn-modal_content .vtmn-modal_body .vtmn-modal_body_text {
  padding-bottom: rem(30px);
  font-weight: var(--vtmn-typo_font-weight--regular);
  font-size: var(--vtmn-typo_text-3-font-size);
  line-height: rem(24px);
  align-self: flex-start;
  pointer-events: all;
  text-align: left;
}

.vtmn-modal_content .vtmn-modal_actions {
  white-space: nowrap;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  pointer-events: all;
  width: 100%;
}

.vtmn-modal_content .vtmn-modal_actions button {
  margin: 0 rem(12px);
}

.vtmn-modal_content-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: color-mod(var(--vtmn-color_black) alpha(0.8));
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@media screen and (max-width: 599px) {
  .vtmn-modal_content {
    width: 100%;
    max-width: 100%;
    bottom: 0;
    padding: rem(24px);
    left: 0;
    transform: translate(0, 0);
  }

  .vtmn-modal_content .vtmn-modal_actions {
    flex-direction: column;
  }

  .vtmn-modal_content .vtmn-modal_actions button {
    margin: rem(6px) 0;
  }

  .vtmn-modal_body_overflow-indicator {
    bottom: 10rem;
    left: rem(24px);
    right: rem(24px);
    height: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .vtmn-modal_content {
    width: rem(900px);
  }
}
*/
