/* Design tokens */
@import '@vtmn/css-design-tokens/src/legacy-colors';
@import '@vtmn/css-design-tokens/src/spacings';
@import '@vtmn/css-design-tokens/src/typography';
@import '@vtmn/css-design-tokens/src/shadows';

.vtmn-modal {
  background: hsla(
    var(--vtmn-semantic-color_background-primary-reversed--h),
    var(--vtmn-semantic-color_background-primary-reversed--s),
    var(--vtmn-semantic-color_background-primary-reversed--l),
    0.8
  );
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.vtmn-modal_content {
  z-index: 6;
  background-color: var(--vtmn-semantic-color_background-primary);
  border-radius: rem(8px);
  padding: rem(32px);
  font-family: var(--vtmn-typo_font-family);
  width: rem(600px);
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--vtmn-shadow_200);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-modal.show {
  animation: var(--vtmn-animation_fade-in);
}

.vtmn-modal_content_title {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vtmn-modal_content_title--text {
  font-weight: var(--vtmn-typo_font-weight--bold);
  font-size: rem(26px);
  line-height: rem(32px);
}

.vtmn-modal_content_title > button > span[class^='vtmx'] {
  white-space: nowrap;
  font-size: rem(24px);
  color: var(--vtmn-semantic-color_content-primary);
}

.vtmn-modal_content_title > button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 rem(4px) var(--vtmn-semantic-color_border-primary-reversed),
    0 0 0 rem(6px) var(--vtmn-semantic-color_border-primary);
}

.vtmn-modal_content_body {
  margin: rem(16px) 0;
  overflow-y: auto;
}

.vtmn-modal_content_body--text {
  padding-bottom: rem(30px);
  font-weight: var(--vtmn-typo_font-weight--regular);
  font-size: var(--vtmn-typo_text-3-font-size);
  line-height: rem(24px);
  align-self: flex-start;
  text-align: left;
}

.vtmn-modal_content_body--overflow-indicator {
  position: absolute;
  bottom: 5.5rem;
  left: rem(32px);
  right: rem(32px);
  height: 4rem;
  background: linear-gradient(
    180deg,
    hsla(
      var(--vtmn-semantic-color_background-primary--h),
      var(--vtmn-semantic-color_background-primary--s),
      var(--vtmn-semantic-color_background-primary--l),
      0
    ),
    hsla(
      var(--vtmn-semantic-color_background-primary--h),
      var(--vtmn-semantic-color_background-primary--s),
      var(--vtmn-semantic-color_background-primary--l),
      0.8
    )
  );
  overflow-y: auto;

  /* pointer-events: none; */
}

.vtmn-modal_content_actions {
  white-space: nowrap;
  margin: 0;
  display: flex;
  justify-content: flex-end;

  /* pointer-events: all; */
  width: 100%;
}

.vtmn-modal_content_actions > * {
  margin: 0 rem(12px);
}

@media screen and (max-width: 599px) {
  .vtmn-modal_content {
    width: 100%;
    max-width: 100%;
    bottom: 0;
    padding: rem(24px);
    left: 0;
    transform: translate(0, 0);
  }

  .vtmn-modal_content_actions {
    flex-direction: column;
  }

  .vtmn-modal_content_actions > * {
    margin: rem(6px) 0;
    width: 100%;
  }

  .vtmn-modal_content_body--overflow-indicator {
    bottom: 10rem;
    left: rem(24px);
    right: rem(24px);
    height: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .vtmn-modal_content {
    width: rem(900px);
  }
}
